<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<header th:fragment="header">
		<div class="container-fluid pt-1">
	    	<div class="d-flex flex-wrap justify-content-start align-items-center">
		        <a href="/">
		        	<img alt="Angbit_logo" src="images/Angbit_logo.png">
		        </a>
		        
			<ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center ms-5">
	          <li><a href="invest" class="nav-link px-3 text-white">모의투자</a></li>
	          <li><a href="#" class="nav-link px-3 text-white">투자내역</a></li>
	          <li><a href="#" class="nav-link px-3 text-white">코인정보</a></li>
	          <li><a href="#" class="nav-link px-3 text-white">게시판</a></li>
	          <li><a href="myPage" class="nav-link px-3 text-white">마이페이지</a></li>
			</ul>
	
	        <div class="text-end">
	          <button type="button" class="btn btn-outline-light me-2">로그인</button>
	          <button type="button" class="btn btn-outline-light me-2">회원가입</button>
	        </div>
	      </div>
	    </div>
    </header>
    
</html>