<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>코인게시판</title>
<!-- common css -->
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/status.css" rel="stylesheet" type="text/css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- 헤더 -->
<header th:replace="common/header :: header"></header>

<!-- 몸통 -->
<div>
<table id="datatablesSimple" border="1">
       <thead>
           <tr>
               <th>순번</th>
               <th>제목</th>
               <th>작성일</th>
               <th>조회수</th>
               <th>글쓴이</th>
           </tr>
       </thead>
       <tbody>
       		 <th:block th:each="mlist : ${memberList}">
       		<th:block th:object="${memberList}">
            <tr th:each="blist : ${boardList}">
               <td th:text="${blist.b_num}"></td>
               <td th:text="${blist.title}"></td>
               <td th:text="${blist.uploaddate}"></td>
               <td th:text="${blist.views}"></td>
               <td th:if="${blist.id.equals(mlist.id)}"
               	   th:text="${mlist.nickname}"></td>
            </tr>
            </th:block>
       </tbody>
       
</table>
</div>

</body>
</html>