<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>코인게시판</title>

<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

<link rel="stylesheet" th:href="@{css/board.css}" >

<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>



</head>
<body>

<!-- common 헤더 -->
<header th:replace="common/header :: header"></header>

<!-- 몸통 -->
<main>
<div class="container">
	
	<div class="row bg-warning">
		<div class="col-lg-2"><div align="left" class="textbox text-dark fs-3 fw-bold">자유게시판</div></div>
		<div class="col-lg-10"></div>
	</div>
	<div class="row bg-warning">
		<div class="col-lg-12">&nbsp</div>
	</div>
	
	<div class="row"><div class="col-lg-12">&nbsp</div></div> <!--한줄 띄기  -->
	
	<!-- @@ 검색창 @@ -->
	<form th:action="jpa_list" method="get">	
		<div class="row">
			<div class="col-lg-8"></div>
	
			<div class="col-lg-3" style="border: 1px solid #1b5ac2; background: #ffffff; padding:0px" > 
				<input name="schword" type="text" placeholder="검색어 입력" style="border:0px; outline:none; float: left; padding:10px">
				<button style="border:0px; float: right; height:100%; width:70px; background:#1b5ac2; color:#ffffff">검색</button>
			</div>
			
			<div class="col-lg-1"></div>
		</div>
	</form>
		
	<!-- @@ 보드리스트 @@-->	
	<div class="wrapper_table pt-5">
		<table class="table table-bordered">
		       <thead>
		           <tr>
		               <th class="text-center">순번</th>
		               <th class="text-center">제목</th>
		               <th class="text-center">작성일</th>
		               <th class="text-center">조회수</th>
		               <th class="text-center">글쓴이</th>
		           </tr>
		       </thead>
		       <tbody>
		          	<th:block th:each="blist : ${boardList}" th:with="nums=${startNum}-${blistStat.index}">
				          	<tr> 
			          		   <td class="text-center" th:text="${nums}"></td>   
				               <td><a th:href="@{board_detailBoard(ref=${blist.ref})}" th:text="${blist.title}" class="text-decoration-none"></a></td>
				               <td class="text-center" th:text="${#dates.format(blist.uploaddate, 'yyyy-MM-dd')}"></td>  
				               <td class="text-center" th:text="${blist.views}"></td>
				               <td class="text-center" th:text="${blist.nickname}"></td>
					        </tr>
			         </th:block>
		       </tbody>
		</table>
		
				<!--@@ 페이징 @@ -->
					<nav aria-label="Paging">
						<div th:with="start=${startPage}, end=${endPage}">
							<ul class="pagination justify-content-center mt-4">

								<!-- 페이지 갯수 -->
								<li class="page-item" th:each="i:${#numbers.sequence(start, end)}">
									<th:block th:if="${i} != 0">
										<a class="pagenav_a page-link activated" id="pageNav${i}" th:if="${currentPage}==${i}" th:href="@{board_list(pageNum=${i})}" th:text=${i}></a>
										<a class="pagenav_a page-link" id="pageNav${i}" th:if="${currentPage}!=${i}" th:href="@{board_list(pageNum=${i})}" th:text=${i}></a>
								</li>

							</ul>
						</div>
					</nav>
	
	</div>

<!-- 글작성버튼 -->
	<form action="">  							<!-- 메소드끼리 건네주는 방법 물어보고 write -->
		<div class="row">
			<div class="col-lg-10">
				
			</div>
			<div class="col-lg-2"><button type="button" class="btn btn-success me-2" th:onclick="|location.href='@{board_writeForm}'|" th:if="${session.sessionID!=null}" >글작성</button></div>
		</div>	
	</form>	
	
</div>
</main>



<!-- footer -->
<footer th:replace="common/footer :: footer"></footer>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>