<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>세부내용</title>

<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

<script> 
history.pushState(null, null, 'board_list'); //data, title, url 의 값이 들어가게 됩니다. 비워두면 이벤트 발생의 플래그
											 //기존페이지 이외에 입력한 URL로 페이지가 하나 더 만들어지는 것 
	window.onpopstate = function(event) {
		history.back(); 
    	console.log('뒤로가기 체크'); 
    } 
</script>



</head>
<body>

<!-- common 헤더 -->
<header th:replace="common/header :: header"></header>

<main>
<div class="container">
	<div class="row bg-warning">
		
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-2 bg-warning"><div class="textbox text-dark fs-3 fw-bold">상세게시글</div></div>
				<div class="col-lg-10"></div>
			</div>
			
		</div>	
	
	</div>
	<div class="row bg-warning"><div class="col-lg-12">&nbsp</div></div>
	
	
		<div class="row"><div class="col-lg-12">&nbsp</div></div>  <!--한줄 띄기  -->
	
	
	<table class="table">
		<tr><th style="text-align:center">순번</th><td th:text="${board.b_num }"></td>
			<th style="text-align:center">제목</th><td th:text="${board.title }"></td>
			<th style="text-align:center">작성일</th><td th:text="${#dates.format(board.uploaddate, 'yyyy-MM-dd')}"></td>
			<th style="text-align:center">조회수</th><td th:text="${board.views }"></td>
			<th style="text-align:center">닉네임</th><td th:text="${board.nickname }"></td>
		</tr>
			<table class="table">
				<tr>
					<th style="width:100px">
						<div style="min-height:100px; text-align:center">
							내용
						</div>
					</th>
					<td style="background-color:white" th:text="${board.content}"></td>
				</tr>
			</table>
	</table>
	
	<div class="row"><div class="col-lg-12">&nbsp</div></div>  <!--한줄 띄기  -->
	<div class="row"><div class="col-lg-12">&nbsp</div></div>  <!--한줄 띄기  -->
	
	<!-- 목록,수정,삭제 -->
	<div class=row>
		<div class="col-lg-10"></div>
		<div class="col-lg-2">
			<input type="button" class="btn btn-outline-dark" th:value="목록" 
					th:onclick="|location.href='@{board_list}'|">	
			<div class="btn-group" role="group" aria-label="Basic outlined example" th:if="${session.sessionID} !=null and ${session.sessionNickName} == ${board.nickname}">
				<input type="button" class="btn btn-outline-dark" th:value="수정" 
					th:onclick="|location.href='@{board_updateForm(ref=${board.ref})}'|"> 		<!-- updateform으로b_num을 넘겨줌 -->
				<input type="button" class="btn btn-outline-dark" th:value="삭제" 
					th:onclick="|location.href='@{delete(ref=${board.ref})}'|">
			</div>	
		</div>
	</div>
	
	
	
	
	
	<div class="row"><div class="col-lg-12">&nbsp</div></div>  <!--한줄 띄기  -->
	
	
	
	<hr>
	
	
<!-- DB 댓글 추가 -->
<form th:action="board_detailBoard" method="get">
		
		<input type="hidden"  name="b_num"       th:value="${board.b_num}">        		<!-- 댓글달린 게시글 정보 -->
		<input type="hidden"  name="id"          th:value="${session.sessionID}">  		<!-- 댓글쓴사람  -->
		<input type="hidden"  name="title"       th:value="${board.title}">				<!-- 댓글달린 게시글 정보-->
		<input type="hidden"  name="views"       th:value="${board.views}">				<!-- 댓글달린 게시글 정보-->
		<input type="hidden"  name="ref"         th:value="${board.ref}">				<!-- 댓글달린 게시글 정보-->
		<input type="hidden"  name="re_level"    th:value="1">								<!-- 댓글==1 -->
		<input type="hidden"  name="re_step"     th:value="0">								<!-- 댓글 고유번호 -->		
		<input type="hidden"  name="nickname"    th:value="${session.sessionNickName}"> <!-- 닉네임 -->
		
			<!-- textarea -->
		<label for="exampleFormControlTextarea1" class="form-label fs-5 fw-bold" th:if="${session.sessionID!=null}">댓글작성</label>
		<div class="form-floating">
		<textarea class="form-control h-25" rows="5" name="content" required="required" th:if="${session.sessionID!=null}"></textarea>
		 <label for="floatingTextarea">Comments</label>
		</div>
	
													
	<div class="row"><div class="col-lg-12">&nbsp</div></div> <!--한줄 띄기  -->
	
	
	<!-- 입력버튼 -->
	<div class="row">
		<div class="col-lg-10"></div>
		<div class="col-lg-2"><button class="btn btn-outline-dark col-6" type="submit" th:if="${session.sessionID!=null}">입력</button></div>
	</div>
</form>


<div class="row"><div class="col-lg-12">&nbsp</div></div> <!--한줄 띄기  -->
<div class="row"><div class="col-lg-12">&nbsp</div></div> <!--한줄 띄기  -->




<!-- 댓글 보이는곳 -->
	
	<div class="row"><div class="col-lg-12">&nbsp</div></div> <!--한줄 띄기  -->
		
		<table class="table">  <!--  border-bottom -->
			<tr>
				<th class="text-center">작성자</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th class="text-center">내용</th>
				<th></th>
				<th></th>
				<th class="text-center">작성일</th>
				<th></th>
				<th></th>
			</tr>	
			<tr th:each="reply : ${levone}">
				<td th:text="|${reply.nickname}|" class="text-center"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td th:text="|${reply.content}|" class="text-center"></td>
				<td></td>
				<td></td>
				<td th:text="${#dates.format(reply.uploaddate, 'yyyy-MM-dd')}" class="text-center"></td>
				
				<td style="text-align: right" th:if="${session.sessionID} !=null and ${session.sessionNickName} == ${reply.nickname}">
					<input type="button" class="btn btn-outline-dark" th:value="댓글수정" 
						th:onclick="|location.href='@{reply_updateForm(ref=${reply.ref}, re_step=${reply.re_step})}'|"></td>
				
				<td th:if="${session.sessionID} !=null and ${session.sessionNickName} == ${reply.nickname}">
					<input type="button" class="btn btn-outline-dark" th:value="댓글삭제" 
						th:onclick="|location.href='@{reply_delete(ref=${reply.ref}, re_step=${reply.re_step})}'|"></td>
			</tr>
		</table>
			
		
	
	


</div> <!-- container -->
</main>
<!-- footer -->
<footer th:replace="common/footer :: footer"></footer>

<!-- Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>