<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>세부내용</title>

<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

<!-- Jquery -->
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

</head>
<body>

	<!-- common 헤더 -->
	<header th:replace="common/header :: header"></header>

	<main>
		<h2>게시글 등록</h2>
		<div th:if="${msg!=null}" th:text="${msg}"></div>
		<form action="writeProcess" method="post">
			<table class="table">
				<tr>
				 <th>작성자</th>
					<th>
						<div th:if="${session.sessionID!=null}">
							<span class="welcomemsg" th:text="${session.sessionNickName}"></span>
						</div>
					</th>
					<th hidden="${session.sessionID}" id="id" name="id">
						<span class="welcomemsg" th:text="${session.sessionNickName}"></span>
					</th>
				</tr>
				
				<tr>
					<th>제목</th>
					<th><input type="text" id="title" name="title">
				</tr>
				
				<tr>
					<th>내용</th>
					<th><input type="text" id="content" name="content">
				</tr>

				<tr>
					<td colspan="2"><button type="submit"> 글쓰기 </button></td>
				</tr>	
			</table>
		</form>
	</main>
		<!-- footer -->
		<footer th:replace="common/footer :: footer"></footer>
</body>
</html>