<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>작성</title>
<script type="text/javascript">
  function chk() {
	if (!frm.empno.value) {
		alert("사번을 입력한 후에 확인하세요");
		frm.empno.focus();
		return false;
	} else location.href="confirm?empno="+frm.empno.value;
  }
</script>


<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

</head>
<body>

<!-- common 헤더 -->
<header th:replace="common/header :: header"></header>

<main>
<h2>게시글 작성</h2>
 
  <form th:action="@{write}" method="post" name="write">
 
   <table class="table table-bordered">
 	<tr><th>글쓴이</th><td th:text="${board.nickname}"></td></tr>
	<tr><th>제목</th><td><input type="text" name="title" 	required="required"></td></tr>
	<tr><th>내용</th><td><input type="text" name="content" required="required"></td></tr>
 	
  	<tr><td colspan="2"><input type="submit" th:value="확인"></td></tr> 
   </table>
   
  </form>

</main>

<!-- footer -->
<footer th:replace="common/footer :: footer"></footer>

</body>
</html>