<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AngBit 비밀번호 찾기 페이지</title>
<th:block th:replace="common/commonHead"></th:block>
</head>

<link th:href="@{/css/joinForm.css}" rel="stylesheet">

<body>

<header th:replace="common/header :: header"></header>

<div class="wrapper_join">
	<form action="FindPasswordProcess" id="joinfrm" onsubmit="return chkJoin()">
<div class="container_join">
			
		<div class="signinfo">
				<div style="top:50% left:50% margin:auto;">
					<h2 align="center"><img alt="Angbit_logo" src="images/AngBlack.png"> 비밀번호 찾기</h2>
				</div>
		  	</div>
		<br>
			<div class="form-floating mb-1">
			  <input type="email" class="form-control input-sm" id="id" name="id" placeholder="Id">
			  <label for="floatingInput">찾고자 하는 이메일</label>
		    </div>
		    
			<div class="form-floating mb-1">
				  <input type="text" class="form-control input-sm" id="nickname" name="nickname" placeholder="nickname">
				  <label for="floatingInput">가입할 때 입력한 닉네임</label>
			</div>
			
			<div class="signbtn">
				<button type="submit" class="btn btn-dark btn-lg btn-block col-lg-12">&nbsp&nbsp&nbsp&nbsp&nbsp 비밀번호 찾기 ㅠ &nbsp&nbsp&nbsp&nbsp&nbsp</button></div>
			</div>
	</form>
</div>



<footer th:replace="common/footer :: footer"></footer>

</body>
</html>