@charset "UTF-8";

main {
	min-height: 1000px;
	padding-bottom: 20px;
	margin-top: 70px;
	background-color: #f7fafc;
}

header {
	position: fixed;
	top: 0;
 	left: 0;
 	right: 0;
	background-color: #212529;
	width: 100%;
	height: 70px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	z-index: 9999;
	font-weight: 700;
}

.header-btn {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

footer {
	padding-top: 100px;
	background-color: #f7fafc;
}

.header-line {
	color:white;
	margin-right: 10px;
	margin-top: 5px;
}


