<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수익률 랭킹 페이지</title>

<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

</head>
<body>

	<!-- Common header -->
	<header th:replace="common/header :: header"></header>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row my-3" align="center">
		<h4>
			<b>수익률 랭킹 페이지</b>
		</h4>
	</div>
	<table class="table table-hover">

		<thead class="Status_thead" align="center">
			<tr>
				<th class="cell2" scope="col"><h5>
						<b>순위</b>
					</h5></th>
				<th class="cell2" scope="col"><h5>
						<b>닉네임</b>
					</h5></th>
				<th class="cell2" scope="col"><h5>
						<b>총 자산</b>
					</h5></th>
				<th class="cell2" scope="col"><h5>
						<b>수익률</b>
					</h5></th>
				<th class="cell2" scope="col"><h5>
						<b>보유현황</b>
					</h5></th>
			</tr>
		</thead>

		<tbody align="center" style="vertical-align: middle;">
			<tr th:each="memberid : ${memberid}">
				<td th:text="${memberid.id}"></td>
				<td th:text="${memberid.nickname}"></td>
				<td th:text="${memberid.krw}"></td>
				<td th:text="${memberid.nickname}"></td>
				<td>
				<a th:href="@{memberAssetChk(id=${memberid.id})}"><button type="button">자세히 보기</button></a>
				</td>
			</tr>
		</tbody>

	</table>


	<footer th:replace="common/footer :: footer"></footer>

</body>
</html>