<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>

	<!-- Custom styles for this page -->
	<link th:href="@{css/rank.css}" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
	<!-- 차트 링크 -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<div class="container" id="container">

		<div class="banner pt-2 mb-5 text-center">
			<h2>모의투자 랭킹</h2>
		</div>

		<div class="search_wrap">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form action="/Rank/MockTradeRank" data-ajax="true" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-loading="#loading_bg" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#search_result" id="form0" method="post">                <input type="hidden" name="Page" id="Page" value="1">
					<input type="hidden" name="PageRows" id="PageRows">
					<input type="hidden" name="SortBy" id="SortBy" value="">
				</form>        </div>
		</div>
		<div class="container">
			<div>
				<div id="search_result" class="clearfix">
					<div class="row rank-noti mb-5">
						<span>※ 각 유저의 총 자산 데이터는 매일 00시에 업데이트 됩니다.</span><br>
						<span>※ 유저의 수익률은 회원 가입시 초기 지급된 3천만원을 기준으로 하며, 보유 중인 원화와 가상 화폐의 현재 시세를 합산한 결과 입니다.</span>

					</div>
					<div class="left-title">
						랭킹 리스트
					</div>
					<div class="table-responsive ranking-board">


						<!--여기서부터 출력-->
						<div class="table-responsive rank-table">
							<table class="table table-hover">
								<thead class="rankthead" align="center">
								<tr>
									<th class="cell2" scope="col"><h5><b>순위</b></h5></th>
									<th class="cell2" scope="col"><h5><b>닉네임</b></h5></th>
									<th class="cell2" scope="col"><h5><b>총 자산</b></h5></th>
									<th class="cell2" scope="col"><h5><b>수익률</b></h5></th>
									<th class="cell2" scope="col"><h5><b>보유 현황</b></h5></th>
								</tr>
								</thead>
								<tbody align="center" style="vertical-align:middle;">
								<th:block data-th-if="${ranklist != null}">
									<tr class="rank-row" th:each="rlist, i:${ranklist}" th:class="'rank-row '+${i.count}">
										<td th:text="${rlist.rn}"></td>
										<td class="ranknick" th:text="${rlist.nickname}"></td>
										<td th:text="${#numbers.formatDecimal(rlist.asset,1,'COMMA',0,'POINT')+' 원'}"></td>
										<td th:if="${rlist.yield}>0" th:text="${rlist.yield}+' %'" style="color:red;"></td>
										<td th:if="${rlist.yield}==0" th:text="${rlist.yield}+' %'"></td>
										<td th:if="${rlist.yield}<0" th:text="${rlist.yield}+' %'" style="color:blue;"></td>
										<td><button id="rank-coinshow" class="btn btn-sm rank-coinshow" data-bs-toggle="popover" title="보유 코인 목록" data-bs-content="안보여!">보유 코인</button>
										</td>
									</tr>
								</th:block>
								<th:block data-th-if="${ranklist.size() == 0}">
									<td colspan="5">데이터가 없습니다.</td>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 페이징 -->

					<nav aria-label="Paging">
						<div th:with="start=${startPage}, end=${endPage}">
							<ul class="pagination justify-content-center mt-4">

								<!-- 페이지 갯수 -->
								<li class="page-item" th:each="i:${#numbers.sequence(start, end)}">
									<th:block th:if="${i} != 0">
										<a class="pagenav_a page-link activated" id="pageNav${i}" th:if="${currentPage}==${i}" th:href="@{rank(pageNum=${i})}" th:text=${i}></a>
										<a class="pagenav_a page-link" id="pageNav${i}" th:if="${currentPage}!=${i}" th:href="@{rank(pageNum=${i})}" th:text=${i}></a>
								</li>

							</ul>
						</div>
					</nav>

				</div>
			</div>
		</div>

	</div>
</main>
<div class="card-body hidden" align="right" style="width:0px; height:0px;">
	<canvas id="myChart" style="align-content: center;"></canvas>
</div>

<footer th:replace="common/footer :: footer"></footer>





<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript">


	var ctx = $('#myChart');

	function makeChart(ctx, type, labels, myData){
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: labels,
				datasets: [{
					label: labels,
					data: myData,
					backgroundColor: ['#F2CB61', '#86E57F', '#6799FF', '#A566FF', '#993800', '#997000', '#2F9D27', '#3F0099', '#4C4C4C', '#D1B2FF', '#FF00DD', '#8C8C8C', '#FFA7A7', '#CEF279', '#B2EBF4']
				}]
			},
			// 범례 서식
			options:{
				legend: {
					position: 'right',
					labels:{
						fontSize: 15
					}
				},
				// 그래프 오버 시 값 X
				tooltips: {
					callbacks: {
						label: function(tooltipItem, myData){
							var label = myData.labels[tooltipItem.index];
							return label;
						}
					}
				}
			}
		});
	}

	/!* 팝오버 *!/
	$( function () {
		$( '[data-bs-toggle="popover"]' ).popover({
			trigger: 'focus',
			html : true,
			content: function() {
				var labels = [];
				var myData = [];
				var percent = 0;
				var clone = $($(ctx).data(this)).clone(true).removeClass('hide');
				// var clone = $($(this).data(this)).clone(true).removeClass('hide');
				var nick = ($(this).parent().siblings('.ranknick').text());
				var sendData = "nickname="+nick;
				$.ajax({
					type: "GET",
					url: "rank/getChart",
					data		:	sendData,
					dataType: "json",
					success: function(data){
						if (data.list[0] == null) {
							myData.push('100')
							labels.push('보유 코인 없음')
							makeChart(clone, 'pie', labels, myData);
						} else {
							for (var i=0; i<Object.keys(data.list).length; i++){
								percent += data.list[i].tot_price;
							}
							myData = [];
							labels = [];

							for(var i=0; i<Object.keys(data.list).length; i++) {
								labels.push(data.list[i].coinname+'('+((data.list[i].tot_price/percent)*100).toFixed(2)+' %)');
								myData.push(data.list[i].tot_price);
							}
							var ctx = $('#myChart');
							makeChart(clone, 'pie', labels, myData);
						}
					}
				})

				makeChart(clone,'pie', labels, myData)
				return clone;
			},
			container: 'body',
		})

	});


</script>
</body>
</html>