<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>

	<!-- Custom styles for this page -->
	<link th:href="@{css/invest.css}" rel="stylesheet">

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<div class="container" id="container">

		<div class="banner">
			<h2>모의투자 랭킹</h2>
		</div>

		<div class="search_wrap">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form action="/Rank/MockTradeRank" data-ajax="true" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-loading="#loading_bg" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#search_result" id="form0" method="post">                <input type="hidden" name="Page" id="Page" value="1">
					<input type="hidden" name="PageRows" id="PageRows">
					<input type="hidden" name="SortBy" id="SortBy" value="">
				</form>        </div>
		</div>
		<div>
			<div>
				<div id="search_result" class="clearfix">
					<div class="table-responsive ranking-board">
						<!--<div class="left-title">
							시상 내용
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="rankbox toprank-1">
									<div class="toprank-img">
										<img src="/images/rank/toprank1.png">
									</div>
									<div class="toprank-title">
										1등
									</div>
									<div class="toprank-award">
										Premium Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-2">
									<div class="toprank-img">
										<img src="/images/rank/toprank2.png">
									</div>
									<div class="toprank-title">
										2등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-3">
									<div class="toprank-img">
										<img src="/images/rank/toprank3.png">
									</div>
									<div class="toprank-title">
										3등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-4">
									<div class="toprank-title">
										4~10등
									</div>
									<div class="toprank-award">
										Basic Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
						</div>-->
						<div class="row rank-noti">
							<span>※ 각 유저의 총 자산 데이터는 매일 00시에 업데이트 됩니다.</span><br>
							<span>※ 유저의 수익률은 회원 가입시 초기 지급된 KRW 3천만원을 기준으로 합니다.</span>
						</div>
						<div class="left-title">
							랭킹 리스트
						</div>

						<!--여기서부터 출력-->
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="rankthead" align="center">
								<tr>
									<th class="cell2" scope="col"><h5><b>순위</b></h5></th>
									<th class="cell2" scope="col"><h5><b>닉네임</b></h5></th>
									<th class="cell2" scope="col"><h5><b>총 자산</b></h5></th>
									<th class="cell2" scope="col"><h5><b>수익률</b></h5></th>
									<th class="cell2" scope="col"><h5><b>보유 코인</b></h5></th>
								</tr>
								</thead>
								<tbody align="center" style="vertical-align:middle;">
								<th:block data-th-if="${ranklist != null}">
									<tr th:each="rlist, i:${ranklist}">
										<td th:text="${i.count}"></td>
										<td th:text="${rlist.nickname}"></td>
										<td th:text="${rlist.asset}"></td>
										<td th:text="${rlist.yield}+' %'"></td>
										<td th:text="보유코인스"></td>
									</tr>
								</th:block>
								<th:block data-th-if="${ranklist == null}">
									<td colspan="5">데이터가 없습니다.</td>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 페이징 -->

				</div>
			</div>
		</div>

	</div>
</main>

<footer th:replace="common/footer :: footer"></footer>



<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>