
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AngBit 회원가입 페이지</title>
<th:block th:replace="common/commonHead"></th:block>
</head>

<link th:href="@{/css/joinForm.css}" rel="stylesheet">

<script type="text/javascript" src="js/jquery.js"></script> 
<script type="text/javascript" src="js/httpRequest.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
function chkJoin() {
	if(joinfrm.id.value == ""){
		alert("이메일 아이디가 입력되지 않았습니다.")
		joinfrm.id.focus();
		return false;
	}
	if(joinfrm.password.value!=joinfrm.checkpassword.value) {
		alert("재확인 비밀번호가 일치하지 않습니다. 동일하게 입력해주세요.");
		joinfrm.checkpassword.focus();
		return false;
	}
	
	var pw = $("#password").val();
	var num = pw.search(/[0-9]/g);
	var eng = pw.search(/[a-z]/ig);
	var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	
	if(pw.length < 8 || pw.length > 20){
		
		 alert("비밀번호는 8자리 ~ 20자리 이내로 입력해주세요.");
		 return false;
		}else if(pw.search(/\s/) != -1){
		 alert("비밀번호는 공백 없이 입력해주세요.");
		 return false;
		}else if(num < 0 || eng < 0 || spe < 0 ){
		 alert("영문,숫자,특수문자를 최소 1개 이상 혼합하여 입력해주세요.");
		 return false;
		}else {
		   return true;
		}
	return true;
}
</script>

<script type="text/javascript">
function chkID(Vdeptno){
	$.ajax({
		url : "IDchk",
		data : {id : Vdeptno},
		dataType : 'text',
		success : function(data1){
			$('#msg1').html(data1);
		}
	});
}
</script>

<script type="text/javascript">
function chkNickname(Vdeptno){
	$.ajax({
		url : "chkNickname",
		data : {nickname : Vdeptno},
		dataType : 'text',
		success : function(data){
			if(data == "사용 가능한 닉네임입니다."){
				$('#msg2').html(data);
				$("#submit").removeAttr("disabled");
			} else {
				$('#msg2').html(data);
				$("#submit").attr("disabled", "disabled");
			}
		}
	});
}
</script>

<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>


<body>

<header th:replace="common/header :: header"></header>


<div class="wrapper_join">
	<form action="JoinProcess" id="joinfrm" onsubmit="return chkJoin()" method="post">
<div class="container_join">
			
			<div class="signinfo">
				<div style="top:50% left:50% margin:auto;">
					<font color="orange"> <h2 align="center"><img alt="Angbit_logo" src="images/Angbit_logo.png"> 회원가입 하기</h2> </font>
				</div>
		  	</div>
		<br>
			<div class="form-floating mb-1">
			  <input type="email" class="form-control input-sm" id="id" name="id" placeholder="Id">
			  <input type="button" value="중복 확인" onclick="chkID(joinfrm.id.value)"> <font color="red"><span id="msg1"></span></font> 
			  <label for="floatingInput">이메일</label>
		    </div>
			
			<div class="form-floating mb-1">
				  <input type="password" class="form-control input-sm" id="password" name="password" placeholder="Password">
				  <label for="floatingInput">비밀번호</label>
			</div>
			
			<div class="form-floating mb-1">
				  <input type="password" class="form-control input-sm" id="checkpassword" name="checkpassword" placeholder="Check Password">
				  <label for="floatingInput">비밀번호 재확인</label>
				  
				  <button class="tooltip-link" data-tooltip="비밀번호는 공백없이 8~20자리로 영문,숫자,특수문자를 각각 1개 이상 씩 혼합하여 입력하여 주십시오." disabled="disabled">비밀번호 규칙</button>
			</div>
			
			<div class="form-floating mb-1">
			  <input type="text" class="form-control input-sm" id="nickname" name="nickname" placeholder="name@example.com">
			  <label for="floatingInput">닉네임</label>
			  <input type="button" value="중복 확인" onclick="chkNickname(joinfrm.nickname.value)"> <font color="red"><span id="msg2"></span></font> 
			  <br> <font color="gray">이메일과 닉네임은 '비밀번호 찾기'에 쓰여집니다.</font>  
		    </div>
		    
			<div class="signbtn">
			    <button type="submit" id="submit" class="btn btn-warning btn-lg btn-block col-lg-12" disabled="disabled">&nbsp&nbsp&nbsp&nbsp&nbsp 가입하기 :) &nbsp&nbsp&nbsp&nbsp&nbsp</button></div>
			</div>
			
	</form>
</div>

<footer th:replace="common/footer :: footer"></footer>

</body>
</html>