
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>


	<!-- Custom styles for this page -->
	<link th:href="@{css/board.css}" rel="stylesheet">

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
	<style type="text/css">
		.highlight {
			background-color: yellow;
			border-radius: 5px;
		}
	</style>
	<script type="text/javascript">
		function chk() {
			if(!frm.keyWord.value) {
				alert("검색어를 입력하세요");
				frm.keyWord.focus();
				return false;
			}
			var blank_pattern = /^\s+|\s+$/g;
			if(frm.keyWord.value.replace( blank_pattern, '' ) == "" ){
				alert(' 공백만 입력되었습니다 ');
				frm.keyWord.focus();
				return false;
			}
			return true;

		}
		$(document).ready(function(){
			$("#viewCount").change(function() {
				var pageSize=$(this).val();
				location.href="<%=context %>/sh/comuBoardList.do?pageSize="+pageSize;
			});

			if ($(keyWord!=null)) {
				var keyWord = '${keyWord}';
				var text = $(".btitle").html();
				$(".btitle").each(function(){
					$(this).html($(this).html().replace(eval("/"+keyWord+"/gi"), "<span class='highlight'>"+keyWord+"</span>"));
				});
				$(".writer").each(function(){
					$(this).html($(this).html().replace(eval("/"+keyWord+"/gi"), "<span class='highlight'>"+keyWord+"</span>"));
				});
			}

			$("#pageNav${pageNum}").css("color", "red");


		});
	</script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<section>
		<!-- 게시판 설명 -->
		<div>
			<div>
				<h2 class="mt-5 mb-3 mx-5 fw-bold"
					style="font-family: pretend; color: #5798D7">커뮤니티 게시판</h2>
			</div>
			<div>
				<p class="mt-2 mx-5 fs-6 text-muted fst-italic"
				   style="font-family: pretend">- 커뮤니티 게시판입니다.</p>
			</div>
		</div>
		<div class="board_search_parent">
			<form action="#" id="frm" onsubmit="return chk()">
				<div class="board_search d-flex">
					<div>
						<input type="text" class="form-control" name="keyWord" placeholder="Search" maxlength="255">
					</div>
					<div>
						<input type="submit" class="board_search_button btn" value="검 색" style="margin-left: 5px">
					</div>
				</div>
			</form>
		</div>
		<!-- 10개씩 보기 -->
		<div class="view_count_parent">
			<select class="view_count form-select" id="viewCount" name="viewCount">
				<option value="10" th:if="${pageSize=='10'}" selected='selected'>10개씩</option>
				<option value="15" th:if="${pageSize=='15'}" selected='selected'>15개씩</option>
				<option value="20" th:if="${pageSize=='20'}" selected='selected'>20개씩</option>
				<option value="30" th:if="${pageSize=='30'}" selected='selected'>30개씩</option>
			</select>
		</div>
		<!-- 게시판 테이블 -->
		<div class="mx-auto my-5">
			<table class="board_table table mx-auto table-hover table-responsive text-center" style="font-size: 14px;">
				<thead style="background-color: rgba(13, 110, 253, 0.1)">

				<tr>
					<th>번호</th>
					<th style="width: 40%;">제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>

				</tr>
				</thead>
<!--				<c:if test="${totCnt>0}">-->
				<th:block data-th-if="${totCnt}>0">
<!--					<c:forEach var="board" items="${list}">-->
						<tr th:each="board, i:${list}">
							<td th:text="${board.rn}"></td>
<!--							<td>${startNum }</td>-->
							<td class="btitle text-start text-truncate" style="max-width: 400px">
								<a th:href="@{content/{b_num}(b_num=${board.b_num})}" style="text-decoration: none; color: black;" class="title" th:text="${board.title}"></a>
<!--								<c:if test="${not empty board.imagepath}">-->
									<th:block data-th-if="${board.imagepath} != null">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
										<path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
										<path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
									</svg><!-- 이미지가 있을 경우 제목 앞 이미지 추가 -->
									</th:block>
<!--								</c:if>-->
<!--								<c:if test="${board.uploaddate eq today}">-->
								<th:block data-th-if="${board.uploaddate} == ${today}">
								<span>오늘 쓴 글임</span>
								</th:block></td>
							<td class="writer" th:text="${board.nickname}"></td>
							<td th:text="${#dates.format(board.uploaddate, 'yyyy-MM-dd')}"></td>
							<td th:text="${board.views}"></td>
						</tr>
<!--						<c:set var="startNum" value="${startNum - 1 }" />-->
<!--					</c:forEach>-->
				</th:block>
<!--				</c:if>-->
				<th:block data-th-if="${totCnt == 0 }">
					<tr>
						<td colspan=7>데이터가 없네</td>
					</tr>
				</th:block>

				</tbody>
			</table>
		</div>

			<div class="write_btn_parent" th:if="${session.sessionID!=null}">
				<div class="write_btn">
					<a href="#" class="write_btn btn btn-outline-primary"
					   style="border: 1px solid rgba(65, 75, 70, 0.5); color: black; margin-right: 50px;">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							 fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
							<path
									d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
						</svg>글쓰기
					</a>
				</div>
			</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center mt-5">
				<!-- 이전 10개 페이지 -->
						<li class="page-item" th:if="${startPage}>${blockSize}">
<!--							<a class="pagenav_a page-link" href="<%=context%>/sh/comuBoardList.do?pageNum=${startPage-blockSize }&pageSize=${pageSize }&keyWord=${keyWord}" aria-label="Previous">-->
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span></a>
						</li>

						<li class="page-item" style="visibility: hidden;" th:if="${startPage}<=${blockSize}">
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span></a>
						</li>
				<!-- 이전 페이지 -->
						<li class="page-item" style="visibility: hidden;" th:if="${pageNum}==1">
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&lt;</span></a>
						</li>
						<li class="page-item" th:if="${pageNum}>1 or ${pageNum}<1">
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&lt;</span></a>
						</li>

				<!-- 페이지 목록 -->

					<li class="page-item" th:each="num : ${#numbers.sequence(startPage, endPage)}">
						<a class="pagenav_a page-link" id="pageNav${i}" href="#" th:text="${num}"></a></li>

				<!-- 다음 페이지 -->
						<li class="page-item" style="visibility: hidden;" th:if="${pageNum}==${pageCnt}">
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&gt;</span></a>
						</li>

						<li class="page-item" th:if="${pageNum}>${pageCnt} or ${pageNum}<${pageCnt}">
							<a class="pagenav_a page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&gt;</span></a>
						</li>

				<!-- 다음 10개 페이지 -->
						<li class="page-item" th:if="${endPage}<${pageCnt}">
							<a class="pagenav_a page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span></a>
						</li>

						<li class="page-item" style="visibility: hidden;" th:if="${endPage}>=${pageCnt}">
							<a class="pagenav_a page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span></a>
						</li>
			</ul>
		</nav>
	</section>
</main>

<footer th:replace="common/footer :: footer"></footer>



<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<!--<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

<script type="text/javascript">

	// 차트 데이터
	function chartApi() {

		currCoin = 'BTC-KRW';
		// sendData = "currCoin="+currCoin;
		console.log('currCoin->'+currCoin);

		$.ajax({
			type		:	'GET',
			url			:	'chartApi',
			data		:	currCoin,
			contentType : 	'application/text; charset=UTF-8',
			dataType 	: 	'json',
			success		:	function(data) {

				var chart = LightweightCharts.createChart(document.getElementById('chart'), {
					width: 600,
					height: 300,
					layout: {
						backgroundColor: '#ffffff',
						textColor: 'rgba(33, 56, 77, 1)',
					},
					localization: {
						locale: 'cn-CN',
					},
					// grid: {
					// 	vertLines: {
					// 		color: 'rgba(197, 203, 206, 0.7)',
					// 	},
					// 	horzLines: {
					// 		color: 'rgba(197, 203, 206, 0.7)',
					// 	},
					// },
					timeScale: {
						timeVisible: true,
						secondsVisible: false,
					},
					timeScale: {
						barSpacing: 3,
						fixLeftEdge: true,
						visible: true,
					},
					priceScale : {
						autoScale : true ,
						invertScale : true ,
						alignLabels : false ,
						borderVisible : false ,
						borderColor : '#555ffd ' ,
						scaleMargins : {
							top : 0 ,
							bottom : 0 ,
						} ,
					},
				});

				var lineSeries = chart.addCandlestickSeries({
					title: '빠스',
					upColor: '#FF4646',
					downColor: '#64D6FF',
					borderVisible: false,
					wickVisible: true,
					borderColor: '#000000',
					wickColor: '#000000',
					borderUpColor: '#FF3232',
					borderDownColor: '#5ACCFF',
					wickUpColor: '#FF3232',
					wickDownColor: '#5ACCFF',
				});


				function handleCrosshairMoved(param) {
					if (!param.point) {
						return;
					}

					console.log(`A user moved the crosshair to (${param.point.x}, ${param.point.y}) point, the time is ${param.time}`);
				}

				chart.subscribeCrosshairMove(handleCrosshairMoved);
				chart.unsubscribeCrosshairMove(handleCrosshairMoved);


				let chardat = [];
				for (var i=0; i<Object.keys(data).length; i++) {
					chardat.push(data[i]);
				}
				chardat = chardat.filter(function() { return true; });
				rechardat = [...chardat].reverse();
				console.log(chardat);
				console.log(typeof chardat);
				console.log(Array.isArray(chardat))

				lineSeries.setData(rechardat);



			},
			error		:	function(e) {
				console.log("error : ",e);
			}
		})

	};


	// 차트 2번 테스트
	function chartApi2() {

		currCoin = 'BTC-KRW';
		// sendData = "currCoin="+currCoin;
		console.log('currCoin->'+currCoin);

		$.ajax({
			type		:	'GET',
			url			:	'chartApi',
			data		:	currCoin,
			contentType : 	'application/text; charset=UTF-8',
			dataType 	: 	'json',
			success		:	function(data) {

				var width = 600;
				var height = 300;

				var chart = LightweightCharts.createChart(document.getElementById('chart'), {
					width: width,
					height: height,
					layout: {
						backgroundColor: '#ffffff',
						textColor: 'rgba(33, 56, 77, 1)',
					},
					localization: {
						locale: 'cn-CN',
					},
					grid: {
						vertLines: {
							color: 'rgba(197, 203, 206, 0.7)',
						},
						horzLines: {
							color: 'rgba(197, 203, 206, 0.7)',
						},
					},
					timeScale: {
						timeVisible: true,
						secondsVisible: false,
					},
					crosshair: {
						horzLine: {
							visible: false,
							labelVisible: false
						},
						vertLine: {
							visible: true,
							style: 0,
							width: 2,
							color: 'rgba(32, 38, 46, 0.1)',
							labelVisible: false,
						}
					},
				});

				var lineSeries = chart.addCandlestickSeries();


				let chardat = [];
				for (var i=0; i<Object.keys(data).length; i++) {
					chardat.push(data[i]);
				}
				chardat = chardat.filter(function() { return true; });
				rechardat = [...chardat].reverse();
				console.log(chardat);
				console.log(typeof chardat);
				console.log(Array.isArray(chardat))

				lineSeries.setData(rechardat);

				function businessDayToString(businessDay) {
					return new Date(Date.UTC(businessDay.year, businessDay.month - 1, businessDay.day, 0, 0, 0)).toLocaleDateString();
				}

				var toolTipWidth = 96;
				var toolTipHeight = 80;
				var toolTipMargin = 15;
				var priceScaleWidth = 50;

				var toolTip = document.createElement('div');
				toolTip.className = 'floating-tooltip-2';
				document.getElementById('chart').appendChild(toolTip);
				// toolTip.innerHTML = '<div style="color: rgba(0, 120, 255, 0.9)">⬤ AERO</div>' +
				// 		'<div style="font-size: 24px; margin: 4px 0px; color: #20262E">' + (Math.round(100 * 100) / 100).toFixed(2) + '</div>' +
				// 		'<div>' + '오늘 날짜' + '</div>';

				// update tooltip
				chart.subscribeCrosshairMove(function(param) {
					if (!param.time || param.point.x < 0 || param.point.x > width || param.point.y < 0 || param.point.y > height) {
						toolTip.style.display = 'none';
						return;
					}

					var dateStr = LightweightCharts.isBusinessDay(param.time)
							? businessDayToString(param.time)
							: new Date(param.time * 1000).toLocaleDateString();

					toolTip.style.display = 'block';
					console.log(Object.keys(param));
					console.log(Object.values(param));
					var price = param.seriesPrices.get(lineSeries);
					toolTip.innerHTML = '<div style="color: rgba(0, 120, 255, 0.9)">⬤ AERO</div>' +
							'<div style="font-size: 24px; margin: 4px 0px; color: #20262E">' + (Math.round(price * 100) / 100).toFixed(2) + '</div>' +
							'<div>' + dateStr + '</div>';

					var left = param.point.x;


					if (left > width - toolTipWidth - toolTipMargin) {
						left = width - toolTipWidth;
					} else if (left < toolTipWidth / 2) {
						left = priceScaleWidth;
					}

					toolTip.style.left = left + 'px';
					toolTip.style.top = 0 + 'px';
				});

			},
			error		:	function(e) {
				console.log("error : ",e);
			}
		})

	};

	function testbtn() {

		console.log(name);
	}



</script>
</body>
</html>