<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>게시판</title>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>


	<!-- Custom styles for this page -->
	<link th:href="@{css/boardTest.css}" rel="stylesheet">

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
	<style type="text/css">
		.highlight {
			background-color: yellow;
			border-radius: 5px;
		}
	</style>

</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<section>
	<div class="container">
		<div class="banner pt-2 mb-5 text-center">
			<h2>커뮤니티 게시판</h2><br>
			<span>※ 유저 간 의견을 교환하는 곳 입니다. 바르고 고운말을 씁시다.</span>
		</div>

		<!--여기서부터 출력-->

		<div>
			<div style="float:right; margin:auto;">
				<select id="searchCondition">
					<option value="WRITER"> 작성자</option>
					<option value="TITLE"> 제목</option>
					<option value="CONTENT"> 내용</option>
				</select>
				<input type="text" class="search" id="keyWord">
				<button type="button" class="searchBtn btn btn-outline-dark" id="searchBtn">검색</button><br>
				<select class="dataPerPage" id="dataPerPage">
					<option value="10" th:selected="${pageSize}==10"> 10개씩</option>
					<option value="15" th:selected="${pageSize}==15"> 15개씩</option>
					<option value="20" th:selected="${pageSize}==20"> 20개씩</option>
					<option value="30" th:selected="${pageSize}==30"> 30개씩</option>
				</select>
				<button type="button" onclick="alert(ajaxData)">확인용 버튼</button>
			</div>
			<table class="table table-hover">
				<colgroup>
					<col width="10%">
					<col width="20%">
					<col width="50%">
					<col width="10%">
					<col>
				</colgroup>
				<thead align="center">
				<tr>
					<th scope="col"><h5><b>번호</b></h5></th>
					<th scope="col"><h5><b>닉네임</b></h5></th>
					<th scope="col"><h5><b>제목</b></h5></th>
					<th scope="col"><h5><b>작성일</b></h5></th>
					<th scope="col"><h5><b>조회수</b></h5></th>
				</tr>
				</thead>
				<tbody align="center" id="boardBody">
				<tr th:each="board : ${list}">
					<td th:text="${board.b_num}"></td>
					<td th:text="${board.nickname}"></td>
					<td><a th:href="@{'/content/'+${board.b_num}}" th:text="${board.title}" style="text-decoration: none;"></a></td>
					<td th:text="${#dates.format(board.uploaddate, 'yyyy-MM-dd')}"></td>
					<td th:text="${board.views}"></td>
				</tr>
				<th:block data-th-if="${list.size() == 0}">
					<tr>
						<td colspan="5">데이터가 없습니다.</td>
					</tr>
				</th:block>
				</tbody>
			</table>
			<nav aria-label="Paging">
				<div th:with="start=${startPage}, end=${endPage}">
					<ul class="pagination justify-content-center mt-4" id="paging">
						<!-- 페이지 갯수 -->
						<li class="page-item" th:each="i:${#numbers.sequence(start, end)}" th:classappend="${currentPage} == i ? 'activated'">
							<th:block th:if="${i} != 0">
								<a class="pagenav_a page-link" th:href="@{boardTest(pageNum=${i})}" th:text=${i}></a>
							</th:block>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	</section>
</main>


<footer th:replace="common/footer :: footer"></footer>



<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript">

	let totalData;
	let	pageCount = 10;
	let globalCurrentPage = 1;
	let ajaxData;

	$(document).ready(function(){
		dataPerPage = $("#dataPerPage").val();

		$("#viewCount").change(function() {
			var pageSize=$(this).val();
			location.href="/boardTest?pageSize="+pageSize;
		});
	});

	$('#searchBtn').on('click', function () {
		var keyWord =  'keyWord='+$('#keyWord').val()+'&condition='+$('#searchCondition').val();
		$.ajax({
			type		:	'POST',
			url			:	'testBoard/search',
			data		:	keyWord,
			success		:	function(data) {
				ajaxData = data;
				totalData = data.length;
				globalCurrentPage = 1; // 검색 후 초기 페이지 1 설정
				pagingData();
			},
			error		:	function(e) {
				console.log("error : ",e);
			}
		});
	});

	function gridData (data, startRow, endRow, pageFigures) {
		let gridHTML = "";
		alert("gridData"+data)

		//전역 ajaxData에 대한 처리
		//-인덱스
		//1페이지면 1~PageCount까지
		//2페이지면 PageCount+1~PageCount*2까지.
		//3페이지면 (PageCount*2)+1~PageCount*3까지.
		//ajaxData.length에서 이만큼 뿌려주고.

		//페이징 nav-btn은????
		//(ajaxData.length / pageCount) 실수(real number)로 형변환. = 내비버튼 갯수
		//nav-bar 클릭시

		if (endRow > data.length) {
			endRow = data.length;
		}


		if (data == '') {
			gridHTML += "<tr><td colspan='5'>검색 결과가 없습니다.</td></tr>"
		} else {
			for (var i=startRow-1; i<=endRow-1; i++) {
				gridHTML += "<tr><td>" +
						data[i].b_num +
						"</td><td>" +
						data[i].nickname +
						"</td><td><a href='/content/"+data[i].b_num + "'>" +
						data[i].title +
						"</a></td><td>" +
						convertDateFormat(new Date(data[i].uploaddate)) +
						"</td><td>" +
						data[i].views +
						"</td></tr>"
			}
		}

		let pagingHtml = "";

		for (var i=1; i<=pageFigures; i++) {
					if (i == globalCurrentPage) {
						pagingHtml +=
						"<li class='page-item activated'>"
						+"<a class='page-link' href='javascript:goPage("+i+")'>"
						+(i)+"</a></li>";
					} else {
						pagingHtml +=
						"<li class='page-item'>"
						+"<a class='page-link' href='javascript:goPage("+i+")'>"
						+(i)+"</a></li>";
					}


		}

		$('#boardBody').html(gridHTML);
		$('#paging').html(pagingHtml);

	}

	function pagingData () {
		alert('선택된 페이지 : '+globalCurrentPage)
		let pageNum;
		let totalCount;
		pageNum = globalCurrentPage;
		totalCount = ajaxData.length;
		let startRow=(globalCurrentPage-1)*(pageCount)+1;
		let pageFigures = Math.ceil(totalCount/pageCount);
		alert('페이지 갯수 : '+pageFigures)

		if (pageNum == 1 || pageNum == null) {
			startRow = 1;
		} else {
			startRow = (pageNum-1 * pageCount) + 1;
		}
		let endRow = startRow + pageCount - 1;

		gridData(ajaxData, startRow, endRow, pageFigures);
	}

	function convertDateFormat(date) {
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
		month = month >= 10 ? month : '0' + month;
		var day = date.getDate();
		day = day >= 10 ? day : '0' + day;
		return [year, month, day].join('-');
	}

	function goPage(pageNum) {
		globalCurrentPage = pageNum;
		pagingData();
	}

</script>
</body>
</html>