<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>

	<!-- Custom styles for this page -->
	<link th:href="@{css/invest.css}" rel="stylesheet">

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<div class="container" id="container">

		<!-- banner -->
		<div class="banner">
			<h2>모의투자 랭크</h2>
		</div>
		<!--//banner -->

		<div class="not412" style="text-align:center; padding-top:10px;">
			<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085793%7C%5E%7CAdver_M_1046207&amp;mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>
			<br>
		</div>
		<div class="show412" style="text-align:center; padding-top:10px;">
			<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085793%7C%5E%7CAdver_M_1046207&amp;mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>
		</div>


		<div class="search_wrap">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form action="/Rank/MockTradeRank" data-ajax="true" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-loading="#loading_bg" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#search_result" id="form0" method="post">                <input type="hidden" name="Page" id="Page" value="1">
					<input type="hidden" name="PageRows" id="PageRows">
					<input type="hidden" name="SortBy" id="SortBy" value="">
				</form>        </div>
		</div>
		<div>
			<div>
				<div id="search_result" class="clearfix">


					<div class="table-responsive ranking-board">
						<div class="left-title">
							시상 내용
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="rankbox toprank-1">
									<div class="toprank-img">
										<img src="/images/rank/toprank1.png">
									</div>
									<div class="toprank-title">
										1등
									</div>
									<div class="toprank-award">
										Premium Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-2">
									<div class="toprank-img">
										<img src="/images/rank/toprank2.png">
									</div>
									<div class="toprank-title">
										2등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-3">
									<div class="toprank-img">
										<img src="/images/rank/toprank3.png">
									</div>
									<div class="toprank-title">
										3등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-4">
									<div class="toprank-title">
										4~10등
									</div>
									<div class="toprank-award">
										Basic Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row rank-noti">
							<span>※ 홀수월 1일에는 랭킹 데이터가 초기화 됩니다.</span><br>
							<span>※ 데이터 초기화 시 순위에 따른 상품이 지급됩니다.</span>
						</div>
						<div class="left-title">
							랭킹 리스트
						</div>

						<div class="table-responsive">
							<table class="table-condensed mytrade myRank">
								<colgroup>
									<col class="col-w-10p">
									<col class="col-w-20p">
									<col class="col-w-20p">
									<col class="col-w-20p">
									<col class="col-w-30p">
								</colgroup>
								<thead>
								<tr class="tdblue">
									<th style="min-width:10%;" class="text-center">
										<a style="cursor:pointer;" onclick="SortPage('PRICE_RANK')">랭크</a>
									</th>
									<th style="min-width:20%;" class="text-center">
										<a style="cursor:pointer;" onclick="SortPage('USERNAME')">닉네임</a>
									</th>
									<th style="min-width:20%;" class="text-right">
										<a style="cursor:pointer;" onclick="SortPage('EVALUATED_PRICE')">총 자산</a>
									</th>
									<th style="min-width:20%;" class="text-right">
										<a style="cursor:pointer;" onclick="SortPage('PRICE_RATE')">수익률</a>
									</th>
									<th style="min-width:30%;" class="text-center">
										<a style="cursor:pointer;" onclick="SortPage('USERID')">보유현황</a>
									</th>
								</tr>
								</thead>
								<tbody>

								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;"><img src="/images/renew/Medal1.png"></td>
									<td class="text-center" style="vertical-align:middle;">행복친구</td>
									<td class="text-right" style="vertical-align:middle;">59,551,974 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">98.51</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;"><img src="/images/renew/Medal2.png"></td>
									<td class="text-center" style="vertical-align:middle;">웨일랜드</td>
									<td class="text-right" style="vertical-align:middle;">47,993,827 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">59.98</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;"><img src="/images/renew/Medal3.png"></td>
									<td class="text-center" style="vertical-align:middle;">우융조아앙</td>
									<td class="text-right" style="vertical-align:middle;">40,930,763 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">36.44</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">4</td>
									<td class="text-center" style="vertical-align:middle;">뽀대화니이</td>
									<td class="text-right" style="vertical-align:middle;">40,814,904 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">36.05</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">5</td>
									<td class="text-center" style="vertical-align:middle;">베이비문</td>
									<td class="text-right" style="vertical-align:middle;">39,180,962 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">30.60</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">6</td>
									<td class="text-center" style="vertical-align:middle;">신에덤벼형이야</td>
									<td class="text-right" style="vertical-align:middle;">36,564,138 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">21.88</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">7</td>
									<td class="text-center" style="vertical-align:middle;">계란아저씨</td>
									<td class="text-right" style="vertical-align:middle;">34,642,687 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">15.48</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">8</td>
									<td class="text-center" style="vertical-align:middle;">아제발쫌</td>
									<td class="text-right" style="vertical-align:middle;">34,548,771 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">15.16</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">9</td>
									<td class="text-center" style="vertical-align:middle;">이더비트고</td>
									<td class="text-right" style="vertical-align:middle;">34,283,366 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">14.28</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								<tr class="bg_st01">
									<td class="text-center" style="vertical-align:middle;color: #ff831d;">10</td>
									<td class="text-center" style="vertical-align:middle;">ichigohukuda</td>
									<td class="text-right" style="vertical-align:middle;">34,149,571 원</td>
									<td class="text-right" style="vertical-align:middle;"><span style="color:red;">13.83</span> %</td>
									<td class="text-center" style="vertical-align:middle;">
										<span>로그인 후 보실 수 있습니다.</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 페이징 -->
					<div class="paginate">
						<strong><span>1</span></strong>
						<a style="cursor:pointer;" onclick="GoPage('2');"><span>2</span></a>
						<a style="cursor:pointer;" onclick="GoPage('3');"><span>3</span></a>
						<a style="cursor:pointer;" onclick="GoPage('4');"><span>4</span></a>
						<a style="cursor:pointer;" onclick="GoPage('5');"><span>5</span></a>
						<a class="next" style="cursor:pointer;" onclick="GoPage('6');"><img src="/images/mvc/page_next.gif" title="다음"></a>
						<a class="next" style="cursor:pointer;" onclick="GoPage('7');"><img src="/images/mvc/page_end.gif" title="맨끝"></a>
						<br>

					</div>
				</div>
			</div>
		</div>

	</div>
</main>

<footer th:replace="common/footer :: footer"></footer>



<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>