<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<!-- Common meta tag, Bootstrap, js -->
	<th:block th:replace="common/commonHead"></th:block>

	<!-- Custom styles for this page -->
	<link th:href="@{css/invest.css}" rel="stylesheet">

	<!-- Jquery -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main>
	<div class="container" id="container">

		<!-- banner -->
		<div class="banner">
			<h2>모의투자 랭크</h2>
		</div>
		<!--//banner -->

		<div class="not412" style="text-align:center; padding-top:10px;">
			<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085793%7C%5E%7CAdver_M_1046207&amp;mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>
			<br>
		</div>
		<div class="show412" style="text-align:center; padding-top:10px;">
			<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085793%7C%5E%7CAdver_M_1046207&amp;mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>
		</div>


		<div class="search_wrap">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form action="/Rank/MockTradeRank" data-ajax="true" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-loading="#loading_bg" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#search_result" id="form0" method="post">                <input type="hidden" name="Page" id="Page" value="1">
					<input type="hidden" name="PageRows" id="PageRows">
					<input type="hidden" name="SortBy" id="SortBy" value="">
				</form>        </div>
		</div>
		<div>
			<div>
				<div id="search_result" class="clearfix">
					<div class="table-responsive ranking-board">
						<div class="left-title">
							시상 내용
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="rankbox toprank-1">
									<div class="toprank-img">
										<img src="/images/rank/toprank1.png">
									</div>
									<div class="toprank-title">
										1등
									</div>
									<div class="toprank-award">
										Premium Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-2">
									<div class="toprank-img">
										<img src="/images/rank/toprank2.png">
									</div>
									<div class="toprank-title">
										2등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>2개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-3">
									<div class="toprank-img">
										<img src="/images/rank/toprank3.png">
									</div>
									<div class="toprank-title">
										3등
									</div>
									<div class="toprank-award">
										Pro Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="rankbox toprank-4">
									<div class="toprank-title">
										4~10등
									</div>
									<div class="toprank-award">
										Basic Service
										<p>1개월 무료</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row rank-noti">
							<span>※ 홀수월 1일에는 랭킹 데이터가 초기화 됩니다.</span><br>
							<span>※ 데이터 초기화 시 순위에 따른 상품이 지급됩니다.</span>
						</div>
						<div class="left-title">
							랭킹 리스트
						</div>

						<!--여기서부터 출력-->
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="rankthead" align="center">
								<tr>
									<th class="cell1" scope="col"></th>
									<th class="cell2" scope="col"><h5><b>번호</b></h5></th>
									<th class="cell2" scope="col"><h5><b>닉네임</b></h5></th>
									<th class="cell2" scope="col"><h5><b>총 자산</b></h5></th>
									<th class="cell2" scope="col"><h5><b>수익률</b></h5></th>
									<th class="cell2" scope="col"><h5><b>보유 코인</b></h5></th>
								</tr>
								</thead>
								<tbody align="center" style="vertical-align:middle;">
								<th:block data-th-if="${totPrice != null}">
									<tr th:each="slist:${statusList}">
										<td th:text="${slist.coinname}+'('+${slist.coincode}+')'"></td>
										<td th:text="${#numbers.formatDecimal(slist.coin_amt,1,'COMMA',8,'POINT')}"></td>
										<td th:text="${#numbers.formatDecimal(slist.avg_price,1,'COMMA',0,'POINT')}"></td>
										<td th:text="${#numbers.formatDecimal(slist.tot_price,1,'COMMA',0,'POINT')}"></td>
										<td th:id="${slist.coincode}"></td>
									</tr>
								</th:block>
								<th:block data-th-if="${totPrice == 0}">
									<td colspan="7">데이터가 없습니다.</td>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 페이징 -->

				</div>
			</div>
		</div>

	</div>
</main>

<footer th:replace="common/footer :: footer"></footer>



<!--&lt;!&ndash; Bootstrap Bundle with Popper &ndash;&gt;-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>