<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>투자 현황</title>
<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>
<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</head>
<script th:inline="javascript">
var wsUri = "wss://api.upbit.com/websocket/v1";	// Upbit websoket 여는 uri
var output;

/* 차트 색상 랜덤용 */
function randomColor(labels){
	var colors= [];
	for(let i = 0; i < labels.length; i++){
		colors.push("#" + Math.round(Math.random() * 0xffffff).toString(16));
	}
	return colors;
}
function makeChart(ctx, type, labels, myData){
	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: labels,
			datasets: [{
				label: labels,
				data: myData,
				backgroundColor: ['#F2CB61', '#86E57F', '#6799FF', '#A566FF', '#993800', '#997000', '#2F9D27', '#3F0099', '#4C4C4C', '#D1B2FF', '#FF00DD', '#8C8C8C', '#FFA7A7', '#CEF279', '#B2EBF4']
// 				backgroundColor: randomColor(labels) // 차트 색상 랜덤용 function 호출
			}]
		},
		// 범례 서식
		 options:{
			legend: {
				position: 'right',
				labels:{
					fontSize: 15
				}
			},
			// 그래프 오버 시 값 표시 X
			tooltips: {
				callbacks: {
					label: function(tooltipItem, myData){
						var label = myData.labels[tooltipItem.index];
						return label;
					}
				}
			}
		}
	});
}

// 페이지 로딩 되면 실행되는 initial 함수
function init() {
	output = document.getElementById("output");
 	testWebSocket();	// 웹소켓 실행
	/*<![CDATA[*/ 
	var statusList = /*[[ ${statusList} ]]*/;
	/*]]*/
	
	$.ajax({
		type: "GET",
		url: "statusListAjax",
		dataType: "json",
		success: function(data){
			
			var labels = [];
			var myData = [];
			var percent = 0;
			
			if (data.list[0] == null) {
	            myData.push('100')
	            labels.push('보유 코인 없음')
	            var ctx = $('#myChart');
	            makeChart(ctx, 'pie', labels, myData);
	         } else {
	            for (var i=0; i<Object.keys(data.list).length; i++){
	               percent += data.list[i].tot_price;
	            }

	            for(var i=0; i<Object.keys(data.list).length; i++) {
	               labels.push(data.list[i].coinname+'('+((data.list[i].tot_price/percent)*100).toFixed(2)+' %)');
	               myData.push(data.list[i].tot_price);
	            }

	            var ctx = $('#myChart');
	            makeChart(ctx, 'pie', labels, myData);
	         }
		}
	})
}

function testWebSocket() {
	websocket = new WebSocket(wsUri);							// websoket 연결 시작 요청
 	websocket.binaryType = 'arraybuffer';						// array buffer 데이터로 받겠다
	//websocket.binaryType = 'Blob';
	//websocket.binaryType = 'String';
	websocket.onopen = function(evt) { onOpen(evt) ;};			// websocket.onopen 	= 웹소켓 연결 성공시 수행되는 함수
	websocket.onclose = function(evt) { onClose(evt) };			// websoket.onclose 	= 웹소켓 연결 닫을때 수행되는 함수
	websocket.onmessage = function(evt) { onMessage(evt) };		// websoket.onmessage 	= 서버쪽에서 데이터 수신 받을때 수행되는 함수
	websocket.onerror = function(evt) { onError(evt) };			// websoket.onerror 	= 웹소켓 연결 실패시 수행되는 함수	
};

function onOpen(evt) {
	var msg = [
		{	"ticket"	:	"test"
		},
		{
			"type"		: 	"ticker",
			"codes"		: ["KRW-BTC", "KRW-ETH", "KRW-ADA", "KRW-XRP", "KRW-DOT", "KRW-DOGE", "KRW-MANA", 
				"KRW-LTC", "KRW-SAND", "KRW-VET", "KRW-AXS", "KRW-SOL", "KRW-BCH", "KRW-XLM", "KRW-ETC"]
		},
		{
			"format"	:	"SIMPLE"
		}
	];
	msg = JSON.stringify(msg);
	doSend(msg);

}

function onClose(evt) {
 		websocket.close();
}

function onMessage(evt) {
	var enc = new TextDecoder("utf-8");
	var arr = new Uint8Array(evt.data);
	var decode = enc.decode(arr);
	var jason=JSON.parse(decode);
	/*<![CDATA[*/ 
	var statusList = /*[[ ${statusList} ]]*/;
	/*]]*/
	var evPrice = null;
	
	// tolocaleString - 소숫점 자리 지정
	const option = {
		    maximumFractionDigits: 0
		   }
	const option1 = {
			maximumFractionDigits: 2
			}
	
	statusList.forEach((statusList, i)=> {
		let amt = statusList.coin_amt;
		let coincode = statusList.coincode;
		let totPrice = statusList.tot_price;
		/*<![CDATA[*/ 
		var statusList1 = /*[[ ${statusList} ]]*/;
		/*]]*/
		
		
		var totEvPrice = null;
		if('KRW-'+coincode == jason.cd){
			evPrice = amt * jason.tp // 평가금액
			
			document.getElementById(coincode).innerText = evPrice.toLocaleString('ko-KR', option);
			var coinloss1 = evPrice-totPrice;	// css 입히기 위한 변수
			var coinloss = document.getElementById(coincode+'-loss').innerText = (evPrice-totPrice).toLocaleString('ko-KR', option)+'\n'+(((evPrice/totPrice)-1)*100).toLocaleString('ko-KR', option1)+' %';
		}
			// 평가손익 css
			if(coinloss1 < 0) {
				document.getElementById(coincode+'-loss').style.color = "blue";
				document.getElementById(coincode+'-loss').style.fontWeight = "700";
			} 
			if(coinloss1 > 0){
				document.getElementById(coincode+'-loss').style.color = "red";
				document.getElementById(coincode+'-loss').style.fontWeight = "700";
			} 
			if(coinloss1 == 0) {
				document.getElementById(coincode+'-loss').style.color = "black";
				document.getElementById(coincode+'-loss').style.fontWeight = "700";
			}
			
	})
	
	// 각 코인별 평가금액 합산
		var ADA = uncomma($('#ADA').text()) * 1;
		var BTC = uncomma($('#BTC').text()) * 1;
		var LTC = uncomma($('#LTC').text()) * 1;
		var VET = uncomma($('#VET').text()) * 1;
		var MANA = uncomma($('#MANA').text()) * 1;
		var ETH = uncomma($('#ETH').text()) * 1;
		var XRP = uncomma($('#XRP').text()) * 1;
		var DOT = uncomma($('#DOT').text()) * 1;
		var DOGE = uncomma($('#DOGE').text()) * 1;
		var SAND = uncomma($('#SAND').text()) * 1;
		var AXS = uncomma($('#AXS').text()) * 1;
		var SOL = uncomma($('#SOL').text()) * 1;
		var BCH = uncomma($('#BCH').text()) * 1;
		var XLM = uncomma($('#XLM').text()) * 1;
		var ETC = uncomma($('#ETC').text()) * 1;
		
		var coin_tot_un = (ADA+BTC+LTC+VET+MANA+ETH+XRP+DOT+DOGE+SAND+AXS+SOL+BCH+XLM+ETC);
		var coin_tot = comma((ADA+BTC+LTC+VET+MANA+ETH+XRP+DOT+DOGE+SAND+AXS+SOL+BCH+XLM+ETC));
		
		// KRW 문자열
		var krw = ' KRW';
		
		// 총 평가금액
		if(coin_tot_un > uncomma($('#totPrice').text())){
			$('#evPrice').text(coin_tot+krw).css('color', 'red').css('fontWeight', '700');
		}
		if(coin_tot_un < uncomma($('#totPrice').text())){
			$('#evPrice').text(coin_tot+krw).css('color', 'blue').css('fontWeight', '700');
		} 
		if(coin_tot_un == uncomma($('#totPrice').text())){
			$('#evPrice').text(coin_tot+krw).css('color', 'black').css('fontWeight', '700');
		}
		$('#evPrice').text(coin_tot+krw);
		
		// 총 자산
		var cash = uncomma($('#cash').text()) * 1;
		var total = comma(cash+coin_tot_un);
		var cashtotPrice = cash+parseInt(uncomma($('#totPrice').text())) // 보유현금 + 총매수금액
		if (cash+coin_tot_un > cashtotPrice){
			$('#total').text(total+krw).css('color', 'red');
		} 
		if (cash+coin_tot_un < cashtotPrice){
			$('#total').text(total+krw).css('color', 'blue');
		} 
		if (cash+coin_tot_un == cashtotPrice){
			$('#total').text(total+krw).css('color', 'black');
		}
		
		// 총 평가손익
		var totBuy = uncomma($('#totPrice').text()) *1;
		var totalBuy = comma(coin_tot_un-totBuy);
		if (coin_tot_un-totBuy > 0){
			$('#totLoss').text(totalBuy+krw).css('color', 'red').css('fontWeight', '700');
		}
		if (coin_tot_un-totBuy < 0){
			$('#totLoss').text(totalBuy+krw).css('color', 'blue').css('fontWeight', '700');
		}
		if (coin_tot_un-totBuy == 0){
			$('#totLoss').text(totalBuy+krw).css('color', 'black').css('fontWeight', '700');
		}
		
		// 총 평가손익률
		var perLoss = (((coin_tot_un/totBuy)-1)*100).toFixed(2);
		if ((((coin_tot_un/totBuy)-1)*100) > 0){
			$('#avgLoss').text(perLoss+' %').css('color', 'red').css('fontWeight', '700');
		}
		if ((((coin_tot_un/totBuy)-1)*100) < 0){
			$('#avgLoss').text(perLoss+' %').css('color', 'blue').css('fontWeight', '700');
		} 
		if ((((coin_tot_un/totBuy)-1)*100) == 0) {
			$('#avgLoss').text(perLoss+' %').css('color', 'black').css('fontWeight', '700');
		}
}

// 콤마빼기
function uncomma(str) {
    str = String(str);
    return str.replace(/[^\d]+/g, '');
}

//콤마추가
function comma(str) {
	str = str.toString().split(".");
    return str[0].replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')
}


function onError(evt) {
	console.log(evt.data); // 콘솔 error 메시지
}

function doSend(message) {
	websocket.send(message);
}

window.addEventListener("load", init, false);
</script>

<link href="css/status.css" rel="stylesheet" type="text/css">
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>
<main>
<!-- 차트 링크 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="container">
	<div class="row my-3" align="center" style="padding-top: 20px;">
		<h4><b>투자 현황</b></h4>
	</div>
	<div class="row my-2" id="statusList">
		<div class="col-lg-6" style="padding-bottom: 25px; border-right:3px solid orange; text-align:justify">
			<div class="container">
	  			<div class="row status_status" th:each="klist:${krwList}">
	  				<img class="status_img" alt="" src="images/status/total.png">
	    			<div class="col">총 자산</div>
	  				<div th:id="total" class="col" align="right">0 KRW</div>
	  			</div>
	   			<div class="row status_status" th:each="klist:${krwList}">
	   				<img class="status_img" alt="" src="images/status/krw1.png">
	    			<div class="col">보유 현금</div>
				    <div th:id="cash" class="col" align="right" th:text="${#numbers.formatDecimal(klist.krw,1,'COMMA',0,'POINT')+' KRW'}"></div>
				</div>
				<hr class="line" style="height: 3px"/>
				<div class="row status_status">
	   				<img class="status_img" alt="" src="images/status/coin.png">
	    			<div class="col" style="margin-bottom: 10px">총 코인 자산</div>
				</div>
				<div class="row">
				    <div class="col status_mid_title">총 매수금액</div>
				    <div th:id="totPrice" class="col" align="right" style="margin-top: 5px; font-weight: 700" th:text="${#numbers.formatDecimal(totPrice,1,'COMMA',0,'POINT')+' KRW'}"></div>
				</div>
				<div class="row status_mid_details" th:with="slist=${statusList}">
				    <div class="col status_mid_title">총 평가금액</div>
				    <div th:id="evPrice" class="col" align="right" style="margin-top: 5px">0 KRW</div>
				</div>
				<div class="row status_mid_details">
				    <div class="col status_mid_title">총 평가손익</div>
				    <div th:id="totLoss" class="col" align="right" style="margin-top: 5px">0 KRW</div>
				</div>
				<div class="row status_mid_details">
				    <div class="col status_mid_title">총 평가손익률</div>
				    <div th:id="avgLoss" class="col" align="right" style="margin-top: 5px">0 %</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6" align="right">
				<div class="card-body" align="right">
					<canvas id="myChart" style="align-content: center;"></canvas>
				</div>
			</div>
		</div>
	</div>

<!-- 코인현황 표 -->
<hr class="line" style="height: 3px; width: 90%; margin-left: 5%;"/>
<div class="row my-3" align="center">
	<h4><b>보유 코인 목록</b></h4>
</div>
<table class="table table-hover">
  <thead class="Status_thead" align="center">
    <tr>
      <th class="cell1" scope="col"></th>
      <th class="cell2" scope="col"><h5><b>보유코인</b></h5></th>
      <th class="cell2" scope="col"><h5><b>보유수량</b></h5></th>
      <th class="cell2" scope="col"><h5><b>매수평균가</b></h5></th>
      <th class="cell2" scope="col"><h5><b>매수금액</b></h5></th>
      <th class="cell2" scope="col"><h5><b>평가금액</b></h5></th> 
      <th class="cell2" scope="col"><h5><b>평가손익</b></h5></th>
    </tr>
  </thead>
  <tbody align="center" style="vertical-align:middle;" id="statusList">
  	<th:block data-th-if="${totPrice != null}">
	    <tr th:each="slist:${statusList}">
	      <th scope="row" th:switch="${slist.coincode}">
	      	<span th:case="ADA"><img class="table_images" alt="" th:src="@{images/status/ADA.png}"></span>
	      	<span th:case="AXS"><img class="table_images" alt="" th:src="@{images/status/AXS.png}"></span>
	      	<span th:case="BCH"><img class="table_images" alt="" th:src="@{images/status/BCH.png}"></span>
	      	<span th:case="BTC"><img class="table_images" alt="" th:src="@{images/status/BTC.png}"></span>
	      	<span th:case="DOGE"><img class="table_images" alt="" th:src="@{images/status/DOGE.png}"></span>
	      	<span th:case="DOT"><img class="table_images" alt="" th:src="@{images/status/DOT.png}"></span>
	      	<span th:case="ETC"><img class="table_images" alt="" th:src="@{images/status/ETC.png}"></span>
	      	<span th:case="ETH"><img class="table_images" alt="" th:src="@{images/status/ETH.png}"></span>
	      	<span th:case="LTC"><img class="table_images" alt="" th:src="@{images/status/LTC.png}"></span>
	      	<span th:case="MANA"><img class="table_images" alt="" th:src="@{images/status/MANA.png}"></span>
	      	<span th:case="SAND"><img class="table_images" alt="" th:src="@{images/status/SAND.png}"></span>
	      	<span th:case="SOL"><img class="table_images" alt="" th:src="@{images/status/SOL.png}"></span>
	      	<span th:case="VET"><img class="table_images" alt="" th:src="@{images/status/VET.png}"></span>
	      	<span th:case="XLM"><img class="table_images" alt="" th:src="@{images/status/XLM.png}"></span>
	      	<span th:case="XRP"><img class="table_images" alt="" th:src="@{images/status/XRP.png}"></span>
	      </th>
	      <td th:text="${slist.coinname}+'('+${slist.coincode}+')'"></td>
	      <td th:text="${#numbers.formatDecimal(slist.coin_amt,1,'COMMA',8,'POINT')}"></td>
	      <td th:text="${#numbers.formatDecimal(slist.avg_price,1,'COMMA',0,'POINT')}"></td>
	      <td th:text="${#numbers.formatDecimal(slist.tot_price,1,'COMMA',0,'POINT')}"></td>
	      <td th:id="${slist.coincode}"></td>
      	  <td th:id="${slist.coincode}+'-loss'"></td>
	    </tr>
		<a style="display:; position:fixed; bottom:10px; right:10px;" href="#"><img height="70px" alt="" src="images/status/top3.png"></a> 
    </th:block>
    <th:block data-th-if="${totPrice == 0}">
	      <td colspan="7">데이터가 없습니다.</td>
    </th:block>
  </tbody>
</table>
</main>
 <footer th:replace="common/footer :: footer"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>