<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>
</head>
<!-- <script type="text/javascript"> -->
<!--  	$(document).ready(function() -->
<!--  	{ -->
<!--  		$("#pageNav${currentPage}").css("color", "red");		 -->
<!--  	}); -->
<!-- </script> -->
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>
<main>

<div class="row my-3" align="center" style="padding-top: 25px">
	<h4><b>체결 현황</b></h4>
</div>
<div class="container">
	<div class="col-4" style="float: left;" >기간 설정<p>
		<button type="button" class="btn btn-outline-warning" style="color: black; background-color: orange;" onclick="location.href='/status_y_history'">전체</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="testmethod(7)">7일</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="location.href='/status_y_history_sort30d'">30일</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="location.href='/status_y_history_sort90d'">90일</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="location.href='/status_y_history_sort180d'">180일</button>
	</div>
	<div class="col-4" style="float: left">거래종류 설정<p>
		<button type="button" class="btn btn-outline-warning" style="color: black; background-color: orange;" onclick="location.href='/status_y_history'">전체</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="location.href='/status_y_history_buy'">매수</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" onclick="location.href='/status_y_history_sell'">매도</button>
	</div>
<!-- 	th:onclick="'location.href=|''+@{${/status_y_history_buy}}+'|''" -->
	<div class="col-4" style="float: left; margin-top: 25px;">
		<a href="#">
			<input type="text" placeholder="코인의 이름을 입력하세요." style="border: 1px solid #ffc107; height: 35px" size="40">  
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	  		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</a>
	</div>
</div>
<table class="table table-hover" style="width: 90%; margin: auto;">
  <thead class="yhistory_thead" align="center" style="background-color: orange;">
    <tr>
      <th class="cell1" scope="col" width="4.6%"></th>
      <th class="cell2" scope="col" width="15.9%"><h5><b>코인명</b></h5></th>
      <th class="cell2" scope="col" width="4.6%"><h5><b>거래종류</b></h5></th>
      <th class="cell2" scope="col" width="20.9%"><h5><b>체결량</b></h5></th>
      <th class="cell2" scope="col" width="15.9%"><h5><b>거래단가</b></h5></th>
      <th class="cell2" scope="col" width="17.2%"><h5><b>거래금액</b></h5></th> 
      <th class="cell2" scope="col" width="20.9%"><h5><b>체결시간</b></h5></th>
    </tr>
  </thead>
  <tbody class="tableb" align="center" style="vertical-align:middle;">
	    <tr class="code">
	      <th class="coincode" scope="row">
	      	<span class="coinname"></span>
	      </th>
	      <td class="coinname"></td>
	      <td class="trd_div" style="color: blue;"></td>
	      <td class="trd_amt"></td>
	      <td class="trd_unit-price"></td>
	      <td class="trd_price"></td>
	      <td class="trd_date"></td>
	    </tr>
	  	<!-- <td colspan="7">데이터가 없습니다.</td> -->
  </tbody>
</table>

<!-- 페이지네이션 -->
<!-- <nav aria-label="Page navigation example">
	<div th:with="start=${pg.startPage}, end=${pg.endPage}">
	  <ul class="pagination justify-content-center mt-4">
	  	이전
	    <li class="page-item" th:if="${pg.startPage>pg.pageBlock}">
	      <a class="pagenav_a page-link" th:href="@{status_y_history(currentPage=${pg.startPage-pg.pageBlock})}" aria-label="previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    페이지 갯수
	    <li class="page-item" th:each="i:${#numbers.sequence(start, end)}">
	    	<a class="pagenav_a page-link" id="pageNav${i}" th:href="@{status_y_history(currentPage=${i})}" th:text=${i}></a>
	    </li>
	    다음
	    <li class="page-item" th:if="${pg.endPage < pg.totalPage}">
	      <a class="pagenav_a page-link" th:href="@{status_y_history(currentPage=${pg.startPage+pg.pageBlock})}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
  	</div>
</nav> -->
	
</main>
 <footer th:replace="common/footer :: footer"></footer>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript">
	function testmethod(days) {
		sendData = "days="+days
		
		$.ajax({
			
			type		:	'GET', // mapping 타입
			url			:	'testmethod', // mapping 호출명
			data		:	sendData, // mapping 호출할때 가지고 갈 매개 변수
			/* contentType : 	'application/json; charset=UTF-8', // 보내는 데이터 타입(java로) */
			dataType 	: 	'json', // 받는 데이터압 (JS로)
			success		:	function(data) { // 성공시 실행되는 함수
				$('.tableb').empty();
				
				console.log("받아온 데이터"+data);
				var res = [];
				for (var i=0; i<Object.keys(data).length; i++) {
					res.push(data[i]);
				}
				
				for (var i=0; i<Object.keys(res).length; i++) {
					$('.tableb').append('<tr class="code'+i+'"></tr>')
					console.log("코인코드 : "+res[i].coincode)
					$('.code'+i).append('<span><img class="table_images" alt="" src="images/status/'+res[i].coincode+'.png"></span>');
					$('.code'+i).append('<td class="coinname">'+res[i].coinname+'</td>');
					if (res[i].trd_div == 0) {
						$('.code'+i).append('<td class="trd_div">매수</td')
					} else {
						$('.code'+i).append('<td class="trd_div">매도</td')
					}
					$('.code'+i).append('<td class="trd_amt">'+res[i].trd_amt+'</td')
					$('.code'+i).append('<td class="trd_unit-price">'+res[i].trd_unit_price+'</td>')
					$('.code'+i).append('<td class="trd_price">'+res[i].trd_price+'</td>')
					$('.code'+i).append('<td class="trd_date">'+res[i].trd_date+'</td>')
				}
			},
			error		:	function(e) {
				console.log("error : ",e);
			}
		});
	}
</script>
</html>