<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>체결 내역</title>
<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>
</head>
<script type="text/javascript">
$(document).ready(function(){
	$("#txt").bind("keyup", function() {
	$(this).val($(this).val().toUpperCase());
	});
});
</script>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>
<main>

<div class="row my-3" align="center" style="padding-top: 25px" id="statusList">
	<h4><b>매수 조회 결과</b></h4>
	<P>
	<h5 th:text="${search}+' 을/를 포함한 검색어는 '"></h5>
	<h5 th:text="'총 '+${pg.total}+' 건의 매수 결과가 검색되었습니다.'" style="margin-bottom: -40px"></h5>
</div>
<div class="container" style="padding-top: 25px">
	<div class="col-4" style="float: left;">&nbsp<p>
		<button type="button" class="btn btn-outline-warning" style="color: black; font-family: sans-serif; font-weight: 700" onclick="location.href='/status_y_history'">처음으로</button>
	</div>
	<div class="col-4" style="float: left; margin-left: 50px">검색 결과 설정<p>
		<button type="button" class="btn btn-outline-warning" style="color: black;" th:onclick="|location.href='@{/y_history_search(search=${search})}'|">전체</button>
		<button type="button" class="btn btn-outline-warning" style="color: black; background-color: orange;" th:onclick="|location.href='@{/y_history_search_buy(search=${search})}'|">매수</button>
		<button type="button" class="btn btn-outline-warning" style="color: black;" th:onclick="|location.href='@{/y_history_search_sell(search=${search})}'|">매도</button>
	</div>
	<form action="y_history_search" style="float: right; margin-top: 25px; margin-left: -25px; margin-bottom: 15px">
		<input class="btn-warning" type="text" id="txt" name="search" placeholder="코인명 또는 코인코드를 입력하세요." style="border: 1px solid #ffc107; height: 38px; background-color: white; text-transform: uppercase;" size="40">
		<button type="submit" class="btn btn-warning" style="margin-top: -7px"> 
			<svg id="search" name="search" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	  			<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</button>
	</form>
</div>
<table class="table table-hover" style="width: 90%; margin: auto;">
  <thead class="yhistory_thead" align="center" style="background-color: orange;">
    <tr>
      <th class="cell1" scope="col" width="4.6%"></th>
      <th class="cell2" scope="col" width="15.9%"><h5><b>코인명</b></h5></th>
      <th class="cell2" scope="col" width="4.6%"><h5><b>거래종류</b></h5></th>
      <th class="cell2" scope="col" width="20.9%"><h5><b>체결량</b></h5></th>
      <th class="cell2" scope="col" width="15.9%"><h5><b>거래단가</b></h5></th>
      <th class="cell2" scope="col" width="17.2%"><h5><b>거래금액</b></h5></th> 
      <th class="cell2" scope="col" width="20.9%"><h5><b>체결시간</b></h5></th>
    </tr>
  </thead>
  <tbody align="center" style="vertical-align:middle;" class="y_history">
  	<th:block data-th-if="${searchBuy.size != 0}">
	    <tr class="code" th:each="searchbuy:${searchBuy}">
	      <th class="coincode" scope="row" th:switch="${searchbuy.coincode}"> 
	      	<span th:case="ADA"><img class="table_images" alt="" th:src="@{images/status/ADA.png}"></span>
	      	<span th:case="AXS"><img class="table_images" alt="" th:src="@{images/status/AXS.png}"></span>
	      	<span th:case="BCH"><img class="table_images" alt="" th:src="@{images/status/BCH.png}"></span>
	      	<span th:case="BTC"><img class="table_images" alt="" th:src="@{images/status/BTC.png}"></span>
	      	<span th:case="DOGE"><img class="table_images" alt="" th:src="@{images/status/DOGE.png}"></span>
	      	<span th:case="DOT"><img class="table_images" alt="" th:src="@{images/status/DOT.png}"></span>
	      	<span th:case="ETC"><img class="table_images" alt="" th:src="@{images/status/ETC.png}"></span>
	      	<span th:case="ETH"><img class="table_images" alt="" th:src="@{images/status/ETH.png}"></span>
	      	<span th:case="LTC"><img class="table_images" alt="" th:src="@{images/status/LTC.png}"></span>
	      	<span th:case="MANA"><img class="table_images" alt="" th:src="@{images/status/MANA.png}"></span>
	      	<span th:case="SAND"><img class="table_images" alt="" th:src="@{images/status/SAND.png}"></span>
	      	<span th:case="SOL"><img class="table_images" alt="" th:src="@{images/status/SOL.png}"></span>
	      	<span th:case="VET"><img class="table_images" alt="" th:src="@{images/status/VET.png}"></span>
	      	<span th:case="XLM"><img class="table_images" alt="" th:src="@{images/status/XLM.png}"></span>
	      	<span th:case="XRP"><img class="table_images" alt="" th:src="@{images/status/XRP.png}"></span>
	      </th>
	      <td class="coinname" th:text="${searchbuy.coinname}+'&#13;&#10;'+'('+${searchbuy.coincode}+')'"></td>
	      <td class="trd_div" th:if="${searchbuy.trd_div}==1" style="color: blue;">매도</td>
	      <td class="trd_div" th:if="${searchbuy.trd_div}==0" style="color: red;">매수</td>
	      <td class="trd_amt" th:text="${#numbers.formatDecimal(searchbuy.trd_amt,1,'COMMA',8,'POINT')}"></td>
	      <td class="trd_unit-price" th:text="${#numbers.formatDecimal(searchbuy.trd_unit_price,1,'COMMA',0,'POINT')}"></td>
	      <td class="trd_price" th:text="${#numbers.formatDecimal(searchbuy.trd_price,1,'COMMA',0,'POINT')}"></td>
	      <td class="trd_date" th:text="${#dates.format(searchbuy.trd_date, 'yyyy-MM-dd HH:mm')}"></td>
	    </tr>
	</th:block>
    <th:block data-th-if="${searchBuy.size == 0}">
	  	<td colspan="7"><strong>매수 내역이 없습니다.</strong></td>
	</th:block>
  </tbody>
</table>

<!-- 페이지네이션 -->
<nav aria-label="Page navigation example">
	<div th:with="start=${pg.startPage}, end=${pg.endPage}">
	  <ul class="pagination justify-content-center mt-4">
<!-- 	  	이전 -->
	    <li class="page-item" th:if="${pg.startPage>pg.pageBlock}">
	      <a class="pagenav_a page-link" th:href="@{y_history_search_buy(search=${search}, currentPage=${pg.startPage-pg.pageBlock})}" aria-label="previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
   	    <!-- 페이지 갯수 -->
		<li class="page-item" th:each="i:${#numbers.sequence(start, end)}">
			<th:block th:if="${i} != 0">
				<a class="pagenav_a page-link activated" id="pageNav${i}" th:if="${pg.currentPage}==${i}" style="background-color: skyblue; color: white" th:href="@{y_history_search_buy(search=${search}, currentPage=${i})}" th:text=${i}></a>
				<a class="pagenav_a page-link" id="pageNav${i}" th:if="${pg.currentPage}!=${i}" th:href="@{y_history_search_buy(search=${search}, currentPage=${i})}" th:text=${i}></a>
		</li>
<!-- 	    다음 -->
	    <li class="page-item" th:if="${pg.endPage < pg.totalPage}">
	      <a class="pagenav_a page-link" th:href="@{y_history_search_buy(search=${search}, currentPage=${pg.startPage+pg.pageBlock})}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
  	</div>
</nav>
	
</main>
 <footer th:replace="common/footer :: footer"></footer>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>