<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>

<!-- Common meta tag, Bootstrap, js -->
<th:block th:replace="common/commonHead"></th:block>

<!-- Custom styles for this page -->
<link th:href="@{css/invest.css}" rel="stylesheet">

<!-- Jquery -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

<!-- lightweight-chart -->
<script th:src="@{https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js}"></script>

<script type="text/javascript">


		var wsUri = "wss://api.upbit.com/websocket/v1";	// Upbit websoket 여는 uri
		var output;
		var currCoin = null;	// 현재 위치한 코인 페이지
		var currCoincode = null;
		var pcp = null;
		var currCandle = null;
		var coinList = ["KRW-BTC", "KRW-ETH", "KRW-ADA", "KRW-XRP", "KRW-DOT", "KRW-DOGE", "KRW-MANA",
			"KRW-LTC", "KRW-SAND", "KRW-VET", "KRW-AXS", "KRW-SOL", "KRW-BCH", "KRW-XLM", "KRW-ETC"]

		// 페이지 로딩 되면 실행되는 initial 함수
		function init() {
			output = document.getElementById("output");
			console.log('init() Start...');
			investApi(event);
			/*봉 변경시 색 변경*/
			for (var i = 0; i < btnClicked.length; i++) {
				btnClicked[i].addEventListener("click", handleClick);
			}
	/* 		testWebSocket(); */
		}

		function testWebSocket() {
			websocket = new WebSocket(wsUri);							// websoket 연결 시작 요청
		 	websocket.binaryType = 'arraybuffer';						// array buffer 데이터로 받겠다
			//websocket.binaryType = 'Blob';
			//websocket.binaryType = 'String';
			websocket.onopen = function(evt) { onOpen(evt) ;};			// websocket.onopen 	= 웹소켓 연결 성공시 수행되는 함수
			websocket.onclose = function(evt) { onClose(evt) };			// websoket.onclose 	= 웹소켓 연결 닫을때 수행되는 함수
			websocket.onmessage = function(evt) { onMessage(evt) };		// websoket.onmessage 	= 서버쪽에서 데이터 수신 받을때 수행되는 함수
			websocket.onerror = function(evt) { onError(evt) };			// websoket.onerror 	= 웹소켓 연결 실패시 수행되는 함수
		};


		function onOpen(evt) {
			writeToScreen("연결완료");
			// var msg1 = [{"ticket":"test"},{"type":"ticker","codes":["KRW-BTC", "BTC-BCH"]},{"format":"SIMPLE"}];
			var msg = [
				{
					"ticket"	:	"UNIQUE_TICKET",
				},
				{
					"type"		: 	"ticker",
					"codes"		: ["KRW-BTC", "KRW-ETH", "KRW-ADA", "KRW-XRP", "KRW-DOT", "KRW-DOGE", "KRW-MANA",
						"KRW-LTC", "KRW-SAND", "KRW-VET", "KRW-AXS", "KRW-SOL", "KRW-BCH", "KRW-XLM", "KRW-ETC"]
				},
				{
					"type"		:	"trade",
					"codes"		:	["KRW-BTC", "KRW-ETH", "KRW-ADA", "KRW-XRP", "KRW-DOT", "KRW-DOGE", "KRW-MANA",
						"KRW-LTC", "KRW-SAND", "KRW-VET", "KRW-AXS", "KRW-SOL", "KRW-BCH", "KRW-XLM", "KRW-ETC"]
				},
				{
					"type"		:	"orderbook",
					"codes"		:	["KRW-BTC.10", "KRW-ETH.10", "KRW-ADA.10", "KRW-XRP.10", "KRW-DOT.10", "KRW-DOGE.10", "KRW-MANA.10",
						"KRW-LTC.10", "KRW-SAND.10", "KRW-VET.10", "KRW-AXS.10", "KRW-SOL.10", "KRW-BCH.10", "KRW-XLM.10", "KRW-ETC.10"]
				},
				{
					"format"	:	"SIMPLE"
				}
			];
			msg = JSON.stringify(msg);
			doSend(msg);

		}

		function onClose(evt) {
 	 		websocket.close();
			writeToScreen("연결해제");
		}

		function onMessage(evt) {

 			//console.log(evt.data);
			var enc = new TextDecoder("utf-8");
			var arr = new Uint8Array(evt.data);
			var decode = enc.decode(arr);
			var jason=JSON.parse(decode);
 			console.log(enc.decode(arr));

 			switch(jason['ty']) {
 			case 'ticker':	// 현재가 응답
 				if(coinList.indexOf(jason['cd']) >= 0) {
					var code = jason['cd'];
	 				flashit(code, jason['tp']);			// 코인 목록에서 체결시 반짝임 표시
	 				changeHilight(code, jason['c']);	// 전일대비에 따라 글시 색 변경
	 				upCoinList(jason);					// 코인 리스트 데이터 갱신
 				}
 				break;
 			case 'orderbook':	// 호가 응답

 				if(currCoin == jason['cd']) {
 					console.log('pcp->'+pcp);
 					for(var i = 0; i < jason['obu'].length; i++) {
 						askSize = jason['obu'][i].as.toFixed(3);
 						bidSize = jason['obu'][i].bs.toFixed(3);
 						var as 	= askSize.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
 						var bs 	= bidSize.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
 						var ap 	= jason['obu'][i].ap;
 						var bp 	= jason['obu'][i].bp;

 						document.getElementById('as-'+i).innerText = as;
 						document.getElementById('ap-'+i).innerText = ap.toLocaleString();
 						document.getElementById('bp-'+i).innerText = bp.toLocaleString();
 						document.getElementById('bs-'+i).innerText = bs;
 						document.getElementById('apPercent-'+i).innerText = ((ap-pcp)/pcp*100).toFixed(2)+'%';
 						document.getElementById('bpPercent-'+i).innerText = ((bp-pcp)/pcp*100).toFixed(2)+'%';

 						if(pcp < ap) {
 							document.getElementById('ap-'+i).style.color 		= "red";
 							document.getElementById('apPercent-'+i).style.color	= "red";
 						} else if(pcp > ap) {
 							document.getElementById('ap-'+i).style.color 		= "blue";
 							document.getElementById('apPercent-'+i).style.color	= "blue";
 						} else if(pcp == ap) {
 							document.getElementById('ap-'+i).style.color 		= "black";
 							document.getElementById('apPercent-'+i).style.color	= "black";
 						}

 						if(pcp < bp) {
 							document.getElementById('bp-'+i).style.color 		= "red";
 							document.getElementById('bpPercent-'+i).style.color	= "red";
 						} else if (pcp > bp) {
 							document.getElementById('bp-'+i).style.color 		= "blue";
 							document.getElementById('bpPercent-'+i).style.color	= "blue";
 						} else if (pcp == bp) {
 							document.getElementById('bp-'+i).style.color 		= "black";
 							document.getElementById('bpPercent-'+i).style.color	= "black";
 						}

 					}
 				}
 				break;

 			case 'trade':	// 체결 응답
 				if(currCoin == jason['cd']) {

 					for(var i=0; i<10; i++) {
 						if(document.getElementById('ap-'+i).innerText == jason['tp'].toLocaleString()) {
 							document.getElementById('orderbook-td-ap-'+i).style.border = "2px solid black";
 						} else {
 							document.getElementById('orderbook-td-ap-'+i).style.border = "0px";
 						}

	 					if(document.getElementById('bp-'+i).innerText == jason['tp'].toLocaleString()) {
								document.getElementById('orderbook-td-bp-'+i).style.border = "2px solid black";
							} else {
								document.getElementById('orderbook-td-bp-'+i).style.border = "0px";
							}
 					}

 	 				for(var i=9; i>0; i--) {
	 					document.getElementById('trd-tp-'+i).innerText = document.getElementById('trd-tp-'+(i-1)).innerText;
	 					document.getElementById('trd-tv-'+i).innerText = document.getElementById('trd-tv-'+(i-1)).innerText;
	 					document.getElementById('trd-tp-'+i).style.color = document.getElementById('trd-tp-'+(i-1)).style.color;
	 					document.getElementById('trd-tv-'+i).style.color = document.getElementById('trd-tv-'+(i-1)).style.color;
	 				}

	 				if(jason.tv >= 100) {
	 					document.getElementById('trd-tv-0').innerText = Math.round(jason['tv']).toLocaleString();
	 				} else {
	 					document.getElementById('trd-tv-0').innerText = jason['tv'].toFixed(3);
	 				}

	 				if(jason.ab == 'ASK') {
	 					document.getElementById('trd-tv-0').style.color = "blue";
	 				} else {
	 					document.getElementById('trd-tv-0').style.color = "red";
	 				}

	 				document.getElementById('trd-tp-0').innerText = jason['tp'].toLocaleString();
 				}


 				break;

 			}

        }

		function onError(evt) {
			writeToScreen('<span style="color: red;">에러:</span> ' + evt.data);
		}

		function doSend(message) {
			writeToScreen("발신: " + message);
			websocket.send(message);
		}

		function writeToScreen(message)	{
			var pre = document.createElement("p");
			pre.style.wordWrap = "break-word";
			pre.innerHTML = message;
			output.appendChild(pre);
		}
		window.addEventListener("load", init, false);

		function flashit(code, tp){
			var trade_price = tp.toLocaleString();
			console.log(trade_price);
			if(document.getElementById(code+'-price').innerText < trade_price) {
				document.getElementById(code+'-price').style.border = "1px solid red";
			} if(document.getElementById(code+'-price').innerText > trade_price) {
				document.getElementById(code+'-price').style.border = "1px solid blue";
			} if(document.getElementById(code+'-price').innerText == trade_price) {
				document.getElementById(code+'-price').style.border = "none";
			}
		}

		function changeHilight(code, change) {
			if(change=='RISE') {
				document.getElementById(code+'-price').style.color = "red";
				document.getElementById(code+'-cPercent').style.color = "red";
				document.getElementById(code+'-cPrice').style.color = "red";
			} else if(change=='EVEN') {
				document.getElementById(code+'-price').style.color = "black";
				document.getElementById(code+'-cPercent').style.color = "black";
				document.getElementById(code+'-cPrice').style.color = "black";
			} else if(change=='FALL') {
				document.getElementById(code+'-price').style.color = "blue";
				document.getElementById(code+'-cPercent').style.color = "blue";
				document.getElementById(code+'-cPrice').style.color = "blue";
			}

			if(code == currCoin) {
				if(change=='RISE') {
					document.getElementById('coinTitle-tp').style.color = "red";
					document.getElementById('coinTitle-scr').style.color = "red";
					document.getElementById('coinTitle-scp').style.color = "red";
				} else if(change=='EVEN') {
					document.getElementById('coinTitle-tp').style.color = "black";
					document.getElementById('coinTitle-scr').style.color = "black";
					document.getElementById('coinTitle-scp').style.color = "black";
				} else if(change=='FALL') {
					document.getElementById('coinTitle-tp').style.color = "blue";
					document.getElementById('coinTitle-scr').style.color = "blue";
					document.getElementById('coinTitle-scp').style.color = "blue";
				}
			}


		}

		// 코인 리스트 Soket 업데이트
		function upCoinList(jason) {
			var code = jason['cd'];
			var trade_price = jason['tp'].toLocaleString();

			//var price24h = Math.round(jason['atp24h']).toLocaleString();

			var price24h = (Math.round(jason['atp24h']/1000000)*1000000).toLocaleString();

			var subPrice24h = price24h.substring(0, (price24h.length-8));

			document.getElementById(code+'-price').innerText = trade_price;
			document.getElementById(code+'-cPercent').innerText = (jason['scr']*100).toFixed(2)+'%';
			document.getElementById(code+'-cPrice').innerText = (jason['scp'].toLocaleString());
			document.getElementById(code+'-price24h').innerText = subPrice24h+'백만';

			if(currCoin == jason['cd']) {
				// orderbook-info 업데이트
				if(jason.atv24h >= 100) {
					document.getElementById('orderbook-atv24h').innerText = Math.round(jason.atv24h).toLocaleString()
					document.getElementById('orderbook-atv24h-unit').innerText = currCoincode;
				} else {
					document.getElementById('orderbook-atv24h').innerText = jason.atv24h.toFixed(3)
					document.getElementById('orderbook-atv24h-unit').innerText = currCoincode;
				}

				document.getElementById('orderbook-atp24h').innerText = subPrice24h;

				document.getElementById('orderbook-h52wp').innerText = jason.h52wp.toLocaleString();
				document.getElementById('orderbook-h52wdt').innerText = '('+jason.h52wdt+')';
				document.getElementById('orderbook-l52wp').innerText = jason.l52wp.toLocaleString();
				document.getElementById('orderbook-l52wdt').innerText = '('+jason.l52wdt+')';
				document.getElementById('orderbook-hp').innerText = jason.hp.toLocaleString();
				document.getElementById('orderbook-lp').innerText = jason.lp.toLocaleString();

				// coinTitle 업데이트
				document.getElementById('coinTitle-tp').innerText = trade_price;
				document.getElementById('coinTitle-scr').innerText = (jason['scr']*100).toFixed(2)+'%';
				document.getElementById('coinTitle-scp').innerText = (jason['scp'].toLocaleString());

			}

		}

		// Rest API 요청
		function investApi(e, id) {
			e.preventDefault();
			if(id != null) {
				currCoincode = id
				currCoin = 'KRW-'+id;
			} else {
				currCoincode = 'BTC';
				currCoin = 'KRW-BTC';
			}
			sendData = "currCoin="+currCoin;
			console.log('currCoin->'+sendData);

			$.ajax({
				type		:	'GET',
				url			:	'invest/investApi',
				data		:	sendData,
	 			contentType : 	'application/json; charset=UTF-8',
			    dataType 	: 	'json',
				success		:	function(data) {
					console.log('data->'+data)
					upApiData(data);
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});

			chartApi();

			if ($('#order-buy-a').hasClass("active") == true) {
				selectKRW();
			} else {
				availableQunatity();
			}


		};

		// API 정보 업데이트
		function upApiData(jason) {

			document.getElementById('coinTitle-coinname').innerText = document.getElementById(currCoincode).innerText;
			document.getElementById('coinTitle-coincode').innerText = currCoin;
			if ($('#order-buy-a').hasClass("active") == true) {
				document.getElementById('order-unit_price').value = jason[1].trade_price.toLocaleString();
				document.getElementById('order-trd_amt').value = 0;
				document.getElementById('order-trd_price').value = 0;
			} else {
				document.getElementById('sell-unit_price').value = jason[1].trade_price.toLocaleString();
				document.getElementById('sell-trd_amt').value = 0;
				document.getElementById('sell-trd_price').value = 0;
			}

			// 체결 테이블 업데이트
			for(var i = 0; i < jason[2].length; i++) {
				var tv = jason[2][i]['trade_volume'];	// 체결 량

				// 거래량 숫자 포멧팅
				if(tv > 100) {
 					document.getElementById('trd-tv-'+i).innerText = Math.round(tv).toLocaleString();
 				} else {
 					document.getElementById('trd-tv-'+i).innerText = tv.toFixed(3);
 				}

				document.getElementById('trd-tp-'+i).innerText = jason[2][i]['trade_price'].toLocaleString();	// 체결 가격 콤마 넣고 업데이트

				// 거래량 색 변경
				if(jason[2][i].ask_bid == 'ASK') {
 					document.getElementById('trd-tv-'+i).style.color = "blue";
 				} else {
 					document.getElementById('trd-tv-'+i).style.color = "red";
 				}

			}

			pcp = jason[1].prev_closing_price;	// pcp(prev_closing_price) : 전일종가

 			// 10호가 업데이트
			for(var i = 0; i < 10; i++) {
				var askSize = jason[0]['orderbook_units'][i].ask_size.toFixed(3);					// 해당 호가 매도 잔량
				var bidSize = jason[0]['orderbook_units'][i].bid_size.toFixed(3);					// 해당 호가 매수 잔량
				var as		= askSize.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");	// 콤마 넣기
				var bs 		= bidSize.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");	// 콤마 넣기
				var ap 		= jason[0]['orderbook_units'][i].ask_price;								// 매도 호가
				var bp 		= jason[0]['orderbook_units'][i].bid_price;								// 매수 호가

				document.getElementById('as-'+i).innerText = as;
				document.getElementById('bs-'+i).innerText = bs;
				document.getElementById('ap-'+i).innerText = ap.toLocaleString();
				document.getElementById('bp-'+i).innerText = bp.toLocaleString();
				document.getElementById('apPercent-'+i).innerText = ((ap-pcp)/pcp*100).toFixed(2)+'%';
				document.getElementById('bpPercent-'+i).innerText = ((bp-pcp)/pcp*100).toFixed(2)+'%';
				document.getElementById('orderbook-pcp').innerText = pcp.toLocaleString();


				// 10호가 전일대비로 Text CSS 변경
				if(pcp < ap) {
					document.getElementById('ap-'+i).style.color 		= "red";
					document.getElementById('apPercent-'+i).style.color	= "red";
				} else if(pcp > ap) {
					document.getElementById('ap-'+i).style.color 		= "blue";
					document.getElementById('apPercent-'+i).style.color	= "blue";
				} else if(pcp == ap) {
					document.getElementById('ap-'+i).style.color 		= "black";
					document.getElementById('apPercent-'+i).style.color	= "black";
				}

				if(pcp < bp) {
					document.getElementById('bp-'+i).style.color 		= "red";
					document.getElementById('bpPercent-'+i).style.color	= "red";
				} else if (pcp > bp) {
					document.getElementById('bp-'+i).style.color 		= "blue";
					document.getElementById('bpPercent-'+i).style.color	= "blue";
				} else if (pcp == bp) {
					document.getElementById('bp-'+i).style.color 		= "black";
					document.getElementById('bpPercent-'+i).style.color	= "black";
				}
			}

			// orderbook-info 업데이트
			if(jason[1].acc_trade_volume_24h >= 100) {
				document.getElementById('orderbook-atv24h').innerText = Math.round(jason[1].acc_trade_volume_24h).toLocaleString();
				document.getElementById('orderbook-atv24h-unit').innerText = currCoincode;
			} else {
				document.getElementById('orderbook-atv24h').innerText = jason[1].acc_trade_volume_24h.toFixed(3);
				document.getElementById('orderbook-atv24h-unit').innerText = currCoincode;
			}

			var price24h = (Math.round(jason[1].acc_trade_price_24h/1000000)*1000000).toLocaleString();
			var subPrice24h = price24h.substring(0, (price24h.length-8));
			document.getElementById('orderbook-atp24h').innerText = subPrice24h;

			document.getElementById('orderbook-h52wp').innerText = jason[1].highest_52_week_price.toLocaleString();
			document.getElementById('orderbook-h52wdt').innerText = '('+jason[1].highest_52_week_date+')';
			document.getElementById('orderbook-l52wp').innerText = jason[1].lowest_52_week_price.toLocaleString();
			document.getElementById('orderbook-l52wdt').innerText = '('+jason[1].lowest_52_week_date+')';
			document.getElementById('orderbook-hp').innerText = jason[1].high_price.toLocaleString();
			document.getElementById('orderbook-lp').innerText = jason[1].low_price.toLocaleString();


			// coinTitle 업데이트
			if(document.getElementById('coinTitle-value-a').className == 'nav-link active') {
				document.getElementById('coinTitle-tp').innerText = jason[1].trade_price.toLocaleString();
				document.getElementById('coinTitle-scr').innerText = (jason[1].signed_change_rate*100).toFixed(2)+'%';
				document.getElementById('coinTitle-scp').innerText = (jason[1].signed_change_price.toLocaleString());

				if(jason[1].change=='RISE') {
					document.getElementById('coinTitle-tp').style.color = "red";
					document.getElementById('coinTitle-scr').style.color = "red";
					document.getElementById('coinTitle-scp').style.color = "red";
				} else if(jason[1].change=='EVEN') {
					document.getElementById('coinTitle-tp').style.color = "black";
					document.getElementById('coinTitle-scr').style.color = "black";
					document.getElementById('coinTitle-scp').style.color = "black";
				} else if(jason[1].change=='FALL') {
					document.getElementById('coinTitle-tp').style.color = "blue";
					document.getElementById('coinTitle-scr').style.color = "blue";
					document.getElementById('coinTitle-scp').style.color = "blue";
				}
			} else {
				 coinInfoLoad(event);
			}

		}


		// 매수 가능 KRW 조회
		function selectKRW() {
			sendDataOI = 'coincode='+currCoincode;
			$.ajax({
				type		:	'POST',
				url			:	'invest/selectKRW',
				data		:	sendDataOI,
				success		:	function(krw) {
					document.getElementById('order-avaliableKRW').innerText = krw.toLocaleString();
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		}

		// 콤마추가
	    function comma(str) {
	    	str = str.toString().split(".");
	        return str[0].replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')
	    }

		// 콤마빼기
	    function uncomma(str) {
	        str = String(str);
	        return str.replace(/[^\d]+/g, '');
	    }

		// order 가격 입력시 콤마 생성
	    function inUnitPrice(obj) {
	    	obj.value = comma(uncomma(obj.value));
	    }

		// order 수량 입력시 제한사항
	    function inTrdAmt(evt) {
	            var charCode = (evt.which) ? evt.which : event.keyCode;
	            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
	                return false;
	            // Textbox value
	            var _value = event.srcElement.value;

	            // 소수점(.)이 두번 이상 나오지 못하게
	            var _pattern0 = /^\d*[.]\d*$/; // 현재 value값에 소수점(.) 이 있으면 . 입력불가
	            if (_pattern0.test(_value)) {
	                if (charCode == 46) {
	                    return false;
	                }
	            }

	            // 소수점 둘째자리까지만 입력가능
	            var _pattern2 = /^\d*[.]\d{9}$/; // 현재 value값이 소수점 둘째짜리 숫자이면 더이상 입력 불가
	            if (_pattern2.test(_value)) {
	                return false;
	            }
	            return true;
	    }

		$(document).ready(function(){
			// coinTitle에서 정보 클릭시
			$('#coinTitle-coinInfo-a').on('click', function coinInfoAjax(e) {
				e.preventDefault();
				coinInfoLoad = coinInfoAjax;
				$('#coinTitle-coinInfo-a').attr('class', 'nav-link active');
				$('#coinTitle-value-a').attr('class', 'nav-link');
				$('.coinTitle-card').css('height', '500px');
				$('.coinTitle-card').css('overflow', 'scroll');

				// coinInfo.html 불러오기
				$.ajax({
					type		:	'GET',
					url			:	'html/coinInfo.html',
					success		:	function(data) {
						$('#coinTitle-body').html(data);
					},
					error		:	function(e) {
						console.log("error : ",e);
					}
				});

 				// DB에서 COININFO 테이블 조회 후 coinInfo 테이블 업데이트
				var coincode = 'coincode='+currCoincode;
				$.ajax({
					type		:	'GET',
					url			:	'invest/coinInfoAjax',
					data		:	coincode,
					contentType : 	'application/json; charset=UTF-8',
				    dataType 	: 	'json',
					success		:	function(json) {
						$('#coinInfo-coincode').text(json.coincode);
						$('#coinInfo-issuedate').text(json.issuedate);
						$('#coinInfo-coingap').text(json.coingap);
						$('#coinInfo-issuelimit').text(json.issuelimit);
						$('#coinInfo-coinsurm').text(json.coinsumr);
					},
					error		:	function(e) {
						console.log("error : ",e);
					}
				});
			});

			// coinTitle에서 시세 클릭시
			$('#coinTitle-value-a').on('click', function(e) {
				e.preventDefault();
				$('.coinTitle-card').css('overflow', 'auto');
				$('.coinTitle-card').css('height', '150px');
				$('#coinTitle-coinInfo-a').attr('class', 'nav-link');
				$('#coinTitle-value-a').attr('class', 'nav-link active');
				$('#coinTitle-body').html("<div id='coinTitle-tp'></div><span class='text-secondary' style='font-size: 13px;'>전일대비</span><span class='ms-2 me-2' id='coinTitle-scr'></span><span id='coinTitle-scp'></span>")
				investApi(event);
			});

			// 매수 클릭시
			$('#order-buy-a').on('click', function(e) {
				e.preventDefault();
				$('#order-buy-a').attr('class', 'nav-link active');
				$('#order-sell-a').attr('class', 'nav-link');
				if(sessionStorage.getItem("sessionID") == null) {
	 				$.ajax({
						type		:	'GET',
						url			:	'html/buyGuestForm.html',
						success		:	function(data) {
							$('#order-card-body').html(data);
							selectKRW();
							upUnitPrice();
						},
						error		:	function(e) {
							console.log("error : ",e);
						}
					});
				} else {
					$.ajax({
						type		:	'GET',
						url			:	'html/buyMemberForm.html',
						success		:	function(data) {
							$('#order-card-body').html(data);
							selectKRW();
							upUnitPrice();
						},
						error		:	function(e) {
							console.log("error : ",e);
						}
					});
				}
			});

			// 매도 클릭시
			$('#order-sell-a').on('click', function(e) {
				e.preventDefault();
				$('#order-buy-a').attr('class', 'nav-link');
				$('#order-sell-a').attr('class', 'nav-link active');

				$.ajax({
					type: 'GET',
					url: 'html/sellForm.html',
					success: function (data) {
						$('#order-card-body').html(data);
						availableQunatity();
						upUnitPrice()
					},
					error: function (e) {
						console.log("error : ", e);
					}
				});
			});


			// order 가격, 수량 입력시 주문총액(trd_price) 계산
			$("#order-unit_price, #order-trd_amt").on('keyup', function() {
				var trd_price = $('#order-trd_amt').val() * uncomma($('#order-unit_price').val());
				$('#order-trd_price').val(comma(trd_price));
			});

			// 주문 금액 10, 25, 50, 100% 버튼 선택
			$(".order-form-amt-butn").on('click', function() {
				var percent = $(this).val().substring(0, $(this).val().length-1);
				var price =  Math.floor(uncomma($('#order-avaliableKRW').text()) * (percent * 0.01));
				var unit_price =uncomma($('#order-unit_price').val());
				var trd_amt = price / unit_price;

				if(trd_amt >= 0) {
					$('#order-trd_amt').val(trd_amt.toFixed(8));
					$('#order-trd_price').val(price.toLocaleString());
				}
			});

			// 매수 요청
			$('#buySubmit').on('click', function() {
				var trd_price = uncomma($('#order-trd_price').val()) * 1;
				var krw = uncomma($('#order-avaliableKRW').text()) * 1;
				console.log(krw < trd_price)
				if(krw * 1 < trd_price * 1) {
					$('#modal-msg').text('주문가능 금액이 부족합니다')
					$('#warmModal').modal('toggle');
				} else if(uncomma($('#order-unit_price').val()) * 1 <= 0) {
					$('#modal-msg').text('주문가격을 확인하세요');
					$('#warmModal').modal('toggle');
				} else if($('#order-trd_amt').val() <= 0) {
					$('#modal-msg').text('주문수량을 입력하세요');
					$('#warmModal').modal('toggle');
				}

				else {
					if($('input[name=trd_method]:checked').val() == 'limits') {
						console.log('지정가 매수시작')
						buyLimitsCoin();
					} else {
						console.log('시장가 매수시작')
						buyCoin();
					}
				}
			});

			$('#coinlist-search').keyup(function() {
				console.log('keyWord->'+$('#coinlist-search').val().toUpperCase())
				var keyWord = 'keyWord='+$('#coinlist-search').val().toUpperCase();
				$.ajax({
					type		:	'GET',
					url			:	'invest/searchCoin',
					data		:	keyWord,
					contentType : 	'application/json; charset=UTF-8',
				    dataType 	: 	'json',
					success		:	function(json) {
						console.log(json);
						var table = "";
						for(var i = 0; i < json.length; i++) {
							table += "<tr>"
							table += "<td class='pt-1'><a href='#' class='coinlist-a text-dark' id='"+json[i].coincode+"' onclick='investApi(event, id)'>"+json[i].coinname+"</a>"
							table += "<p class='mb-0'>"+json[i].coincode+"</p></td>"
							table += "<td class='pt-1' style='width: 98px;'>"
							table += "<div id='KRW-"+json[i].coincode+"-price' class='coinlist-price'></div></td>"
							table += "<td class='pt-1'><p class='text-end mb-0' id='KRW-"+json[i].coincode+"-cPercent'></p>"
							table += "<p class='text-end mb-0' id='KRW-"+json[i].coincode+"-cPrice'></p></td>"
							table += "<td class='pt-1'><p class='text-end' id='KRW-"+json[i].coincode+"-price24h'></p></td>"
							table += "</tr>"
						}
						coinList = [];
						for(var i = 0; i < json.length; i++) {
							coinList[i] = 'KRW-'+json[i].coincode;
						}
						$('#coinlist-tbody').html(table);

					},
					error		:	function(e) {
						console.log("error : ",e);
					}
				});
			});

		});

		// 시장가 클릭시
		function clickMarket() {
			console.log('clickMarket 시작')
			document.getElementById('order-unit_price-th').style.display ='none';
			document.getElementById('order-unit_price').style.display ='none';
			document.getElementById('order-trd_amt-th').style.display ='none';
			document.getElementById('order-trd_amt').style.display ='none';
			document.getElementById('order-trd_price').readOnly = false;
			document.getElementById('order-trd_amt').value = 0;
			document.getElementById('order-trd_price').value = 0;
			upUnitPrice();
		}

		// 지정가 클릭시
		function clickLimits() {
			console.log('clickLimits 시작')
			document.getElementById('order-unit_price-th').style.display = '';
			document.getElementById('order-unit_price').style.display = '';
			document.getElementById('order-trd_amt-th').style.display = '';
			document.getElementById('order-trd_amt').style.display = '';
			document.getElementById('order-trd_price').readOnly = true;
			document.getElementById('order-trd_amt').value = 0;
			document.getElementById('order-trd_price').value = 0;
		}

 		// 주문 현재가 업데이트
		function upUnitPrice() {
			sendData = "currCoin="+currCoin;
			$.ajax({
				type		:	'GET',
				url			:	'invest/investApi',
				data		:	sendData,
	 			contentType : 	'application/json; charset=UTF-8',
			    dataType 	: 	'json',
				success		:	function(data) {
					if ($('#order-buy-a').hasClass("active") == true) {
						document.getElementById('order-unit_price').value = data[1].trade_price.toLocaleString();
					} else {
						document.getElementById('sell-unit_price').value = data[1].trade_price.toLocaleString();
					}
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		};

	 	// 시장가 매수 주문
		function buyLimitsCoin() {
			sendData = "currCoin="+currCoin;
			$.ajax({
				type		:	'GET',
				url			:	'invest/investApi',
				data		:	sendData,
	 			contentType : 	'application/json; charset=UTF-8',
			    dataType 	: 	'json',
				success		:	function(data) {
					document.getElementById('order-unit_price').value = data[1].trade_price.toLocaleString();
					console.log('trade_price->'+data[1].trade_price.toLocaleString())
					buyCoin();
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		};

		// 매수 주문
		function buyCoin() {
			console.log("buyCoin시작")
			var trd_amt = $('#order-trd_amt').val();
			var trd_price = uncomma($('#order-trd_price').val());
			var trd_unit_price = uncomma($('#order-unit_price').val());
			var trd_method = $("input[name='trd_method']:checked").val();
			var formData = 'trd_method='+trd_method+'&trd_unit_price='+trd_unit_price+'&trd_amt='+trd_amt+'&trd_price='+trd_price+'&coincode='+currCoincode;
			$.ajax({
				type		:	'POST',
				url			:	'invest/buyCoin',
				data		:	formData,
				success		:	function(msg) {
					$('#modal-msg').text(msg);
					$('#warmModal').modal('toggle');
					selectKRW();
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		}

		// 차트 API
		function chartApi() {

			// sendCoin = "currCoin="+currCoin;
			// sendCandle = "currCandle="+currCandle;
			// console.log('currCoin->'+currCoin);
			$("#coinChart").empty();

			$.ajax({
				type		:	'GET',
				url			:	'chartApi',
				data		:	{ 'currCoin' : currCoin, 'currCandle' : currCandle},
				contentType : 	'application/text; charset=UTF-8',
				dataType 	: 	'json',
				success		:	function(data) {

					var chart = LightweightCharts.createChart(document.getElementById('coinChart'), {
						width: 980,
						height: 380,
						// 차트 크기 설정
						layout: {
							backgroundColor: '#ffffff',
							textColor: 'rgba(33, 56, 77, 1)',
						},
						localization: { // 현지화, 원화 표기
							locale: 'cn-CN',
							priceFormatter: price =>
									 price + '₩'
							,
							dateFormat : 'yyyy/MM/dd' ,
						},
						priceScale : {
							autoScale : true ,
							invertScale : false ,
							alignLabels : false ,
							borderVisible : false ,
							borderColor : '#555ffd ' ,
							scaleMargins : {
								top : 0 ,
								bottom : 0 ,
							} ,
						},
						timeScale: {
							shiftVisibleRangeOnNewBar : true,
							fixLeftEdge : true,
						}
					});

					var lineSeries = chart.addCandlestickSeries({
						// blue 0000be, red ff0000
						upColor: '#ff0000',
						downColor: '#0000be',
						borderVisible: false,
						wickVisible: true,
						borderUpColor: '#ff0000',
						borderDownColor: '#0000be',
						wickUpColor: '#ff0000',
						wickDownColor: '#0000be',
					});

					let chardat = [];
					for (var i=0; i<Object.keys(data).length; i++) {
						chardat.push(data[i]);
					}
					chardat = chardat.filter(function() { return true; });
					rechardat = [...chardat].reverse();
					// console.log(chardat);
					// console.log(typeof chardat);
					// console.log(Array.isArray(chardat))

					lineSeries.setData(rechardat);

					chart.applyOptions({
						timeScale: {
							visible : true,
							timeVisible: true,
							secondsVisible: false,
						},
					});

					document.getElementById('coinChart').style.position = 'relative'; // z-index?

					var legend = document.createElement('div');
					legend.classList.add('legend');
					document.getElementById('coinChart').appendChild(legend);

					var firstRow = document.createElement('div');
					firstRow.style.color = 'black';
					legend.appendChild(firstRow);

					chart.subscribeCrosshairMove((param) => {
						if (param.time) {
							const price = param.seriesPrices.get(lineSeries);
							const open = price.open.toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
							const high = price.high.toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
							const low = price.low.toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
							const close = price.close.toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
							const upgap = (price.close-price.open).toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");;
							const uppercent = (((price.close-price.open)/price.open)*100).toFixed(2);
							const downgap = (price.open-price.close).toString()
									.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
							const downpercent = (((price.open-price.close)/price.open)*100).toFixed(2);
							if (price.open < price.close) {
								firstRow.innerHTML = '시 : <span style="color:red;">'+open+ '</span>' +
										' 고 : <span style="color:red;">'+high + '</span>' +
										' 저 : <span style="color:red;">'+low + '</span>' +
										' 종 : <span style="color:red;">'+close + '</span>' +
										'<p style="color:red;">'+upgap+'  +'+ uppercent+' %'+'</p>'
							} else if (price.open > price.close) {
								firstRow.innerHTML = '시 : <span style="color:#0000be;">'+open + '</span>' +
										' 고 : <span style="color:#0000be;">'+high + '</span>' +
										' 저 : <span style="color:#0000be;">'+low + '</span>' +
										' 종 : <span style="color:#0000be;">'+close + '</span>' +
										'<p style="color:#0000be;">-'+downgap+'  -'+
										downpercent+' %'+'</p>'
							}

									// + price.toFixed(2);
						}
						else {
							firstRow.innerText = '';
						}
					});

				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			})
		};

		function candleChange(candle) {
			currCandle = candle;
			// console.log('candle?->'+candle)
			chartApi();
		}

		var btnClicked = document.getElementsByClassName("c-buttonarea-button");

		function handleClick(event) {

			if (event.target.classList[1] === "btnClicked") {
				event.target.classList.remove("btnClicked");
			} else {
				for (var i = 0; i < btnClicked.length; i++) {
					btnClicked[i].classList.remove("btnClicked");
				}

				event.target.classList.add("btnClicked");
			}
		}

		/* 매도 */
		var sell_amt = null; // 매도 가능 수량


		// 매도 가능 수량
		function availableQunatity() {
			const availQuan = document.getElementById('sell-avaliableKRW');
			const selected = currCoin.substring(currCoin.indexOf('-')+1);

			$.ajax({
				type: 'GET',
				url: 'invest/sellQuantity',
				data: {"currCoin": selected},
				success: function (data) {
					sell_amt = data;
					$('#sell-availableAmt').text(data.toFixed(8));
					$('.selected').text(selected);
					console.log('받아온 데이터' + data);
					console.log('현재 선택된 코인' + selected);
					upUnitPrice();
				},
			error        :    function (e) {
				console.log("error : ", e);
				}
			});
		}




		function inSellAmt(evt) {
			var charCode = (evt.which) ? evt.which : event.keyCode;

			if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
				return false;
			// Textbox value
			var _value = event.srcElement.value;

			// 소수점(.)이 두번 이상 나오지 못하게
			var _pattern0 = /^\d*[.]\d*$/; // 현재 value값에 소수점(.) 이 있으면 . 입력불가
			if (_pattern0.test(_value)) {
				if (charCode == 46) {
					return false;
				}
			}

			// 소수점 둘째자리까지만 입력가능
			var _pattern2 = /^\d*[.]\d{8}$/; // 현재 value값이 소수점 둘째짜리 숫자이면 더이상 입력 불가
			if (_pattern2.test(_value)) {
				return false;
			}

			return true;
		}

		$('#sell-unit_price, #sell-trd_amt').on('keyup',function () {
			let sell_price = $('#sell-trd_amt').val() * uncomma($('#sell-unit_price').val());
			console.log(sell_price);
			// $('#sell-trd_price').val(comma(sell_price));
		});

		function inputEvent(key) {
			let sell_price = $('#sell-trd_amt').val() * uncomma($('#sell-unit_price').val());
			$('#sell-trd_price').val(comma(sell_price));
		}

		// 시장가 클릭시
		function sellMarket() {
			console.log('sellMarkets 시작')
			document.getElementById('sell-unit_price-th').style.display ='none'; // 매도 가격 텍스트
			document.getElementById('sell-unit_price').style.display ='none'; // 매도 가격
			document.getElementById('sell-trd_amt-th').style.display ='none'; // ?
			document.getElementById('sell-trd_amt').style.display =''; // 주문 수량
			document.getElementById('sell-trd_price').style.display = 'none'; //  주문 총액
			document.getElementById('sell-trd_amt').value = 0; // 주문 수량 value
			document.getElementById('sell-trd_price').value = 0; // 주문 총액
			document.getElementById('sell-trd_price-th').style.display = 'none'; // 주문 총액 헤더
			upUnitPrice();
		}

		// 지정가 클릭시
		function sellLimits() {
			console.log('sellLimits 시작')
			document.getElementById('sell-unit_price-th').style.display = '';
			document.getElementById('sell-unit_price').style.display = '';
			document.getElementById('sell-trd_amt-th').style.display = '';
			document.getElementById('sell-trd_amt').style.display = '';
			document.getElementById('sell-trd_price').readOnly = true;
			document.getElementById('sell-trd_amt').value = 0;
			document.getElementById('sell-trd_price').value = 0;
		}

		function sellSubmit() {
			var sell_amt = $('#sell-trd_amt').val(); // 판매할 수량
			var avail_amt = $('#sell-availableAmt').text() * 1; // 판매 가능 수량
			// var sell_price = uncomma($('#sell-unit_price').val()) * 1; // 매도 가격
			console.log('매도 수량?'+sell_amt)
			console.log('주문 가능 수량?'+avail_amt)

			if(avail_amt < sell_amt) {
				$('#modal-msg').text('주문가능 수량이 부족합니다')
				$('#warmModal').modal('toggle');
			} else if(uncomma($('#sell-unit_price').val()) * 1 <= 0) {
				$('#modal-msg').text('판매가격을 확인하세요');
				$('#warmModal').modal('toggle');
			} else if($('#sell-trd_amt').val() <= 0) {
				$('#modal-msg').text('판매할 수량을 입력하세요');
				$('#warmModal').modal('toggle');
			}

			else {
				if($('input[name=sell_method]:checked').val() == 'limits') {
					console.log('지정가 매도시작')
					sellCoin();
				} else {
					console.log('시장가 매도시작')
					sellMarketCoin();
				}
			}
		};

		function amtChk() {

			let cnt = $('#sell-trd_amt').val();
			if (cnt > sell_amt) {
				console.log('초과')
				alert('입력된 수량이 판매 가능 수량을 초과합니다.');
				return false;
			}
		}

		// 시장가 매도
		function sellMarketCoin() {
			sendData = "currCoin="+currCoin;
			$.ajax({
				type		:	'GET',
				url			:	'invest/investApi',
				data		:	sendData,
				contentType : 	'application/json; charset=UTF-8',
				dataType 	: 	'json',
				success		:	function(data) {
					document.getElementById('sell-unit_price').value = data[1].trade_price.toLocaleString();
					console.log('trade_price->'+data[1].trade_price.toLocaleString())
					console.log('DOM SET?'+document.getElementById('sell-unit_price').value)
					sellCoin();
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		};

		// 매도 주문
		function sellCoin() {
			console.log("sellCoin시작")
			var trd_amt = $('#sell-trd_amt').val(); // 매도 수량
			var trd_price = uncomma($('#sell-trd_price').val()); // 주문 총액
			var trd_unit_price = uncomma($('#sell-unit_price').val()); // 매도 가격
			var trd_method = $("input[name='sell_method']:checked").val(); // 시장가or지정가
			var formData = 'trd_method='+trd_method+'&trd_unit_price='+trd_unit_price+'&trd_amt='+trd_amt+'&trd_price='+trd_price+'&coincode='+currCoincode;
			$.ajax({
				type		:	'POST',
				url			:	'invest/sellCoin',
				data		:	formData,
				success		:	function(msg) {
					$('#modal-msg').text(msg);
					$('#warmModal').modal('toggle');
					// selectKRW();
				},
				error		:	function(e) {
					console.log("error : ",e);
				}
			});
		}



</script>
</head>
<body>
<!-- Common header -->
<header th:replace="common/header :: header"></header>

<main class="clearfix">
	<div>
		<input type="button" value="Connection Open" onclick="testWebSocket()">
		<input type="button" value="Connection Close" onclick="onClose()">
		<div id="output"></div>
	</div>
	<section class="section1">

		<div class="d-flex justify-content-center mt-5">
			<div class="coinTitle-card card">
				<div class="card-header">
					<div class="d-flex justify-content-between">
						<div>
							<span id="coinTitle-coinname"></span>
							<span class="pt-2" id="coinTitle-coincode"></span>
						</div>
						<div>
						    <ul class="nav nav-tabs card-header-tabs">
						    	<li class="nav-item">
						        	<a class="nav-link active" href="#" id="coinTitle-value-a">시세</a>
						      	</li>
						      	<li class="nav-item">
						        	<a class="nav-link" href="#" id="coinTitle-coinInfo-a">정보</a>
						      	</li>
						    </ul>
						</div>
					</div>
				</div>
				<div class="card-body" id="coinTitle-body">
				 <div id="coinTitle-tp"></div>
					<span class="text-secondary" style="font-size: 13px;">전일대비</span><span class="ms-2 me-2" id="coinTitle-scr"></span><span id="coinTitle-scp"></span>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-3 mb-3">
			<div class="coinChart card">
				<div class="coinChart c-buttonarea">
					<button type="button" class="c-buttonarea-button" onclick="candleChange('minutes/1')" id="minutes/1">1분</button>
					<button type="button" class="c-buttonarea-button btnClicked" onclick="candleChange('minutes/30')" id="minutes/30">30분</button>
					<button type="button" class="c-buttonarea-button" onclick="candleChange('minutes/60')" id="minutes/60">1시간</button>
					<button type="button" class="c-buttonarea-button" onclick="candleChange('minutes/240')" id="minutes/240">4시간</button>
					<button type="button" class="c-buttonarea-button" onclick="candleChange('days')" id="days">일</button>
					<button type="button" class="c-buttonarea-button" onclick="candleChange('weeks')" id="weeks">주</button>
					<button type="button" class="c-buttonarea-button" onclick="candleChange('months')" id="months">월</button>
				</div>
				<div class="coinChart c-chartarea" id="coinChart"></div>
			</div>
		</div>
		<div class="orderSection d-flex justify-content-between mx-auto">
			<div class="orderbook-div card" id="orderbook-div">
				<table class="table table-bordered table-responsive" id="orderbook-table">
					<tr>
						<td class="as" id="as-9" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-9" style="width: 33%"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-9"></div><div class="col-5 text-center px-0" id="apPercent-9"></div></div></td>

						<td width="33%"></td>
					</tr>

					<tr>
						<td class="as" id="as-8" width="33%"></td>

						<td class="orderbook-td-ap" id="orderbook-td-ap-8"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-8"></div><div class="col-5 text-center px-0" id="apPercent-8"></div></div></td>
						<td></td>
					</tr>
					<tr>
						<td class="as" id="as-7" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-7"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-7"></div><div class="col-5 text-center px-0" id="apPercent-7"></div></div></td>
						<td></td>
					</tr>
					<tr>
						<td class="as" id="as-6" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-6"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-6"></div><div class="col-5 text-center px-0" id="apPercent-6"></div></div></td>
						<td rowspan="2">
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">거래량</div><div><span id="orderbook-atv24h"></span><span class="ms-1 text-secondary" id="orderbook-atv24h-unit"></span></div></div>
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">거래대금</div><div><span id="orderbook-atp24h"></span><span class="ms-1 text-secondary">백만원</span></div></div>
							<div class="orderbook-td-info d-flex flex-row-reverse">
								<div class="text-secondary">(최근24시간)</div></div>
						</td>
					</tr>
					<tr>
						<td class="as" id="as-5" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-5"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-5"></div><div class="col-5 text-center px-0" id="apPercent-5"></div></div></td>
					</tr>
					<tr>
						<td class="as" id="as-4" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-4"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-4"></div><div class="col-5 text-center px-0" id="apPercent-4"></div></div></td>
						<td rowspan="3">
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">5주 최고</div><div id="orderbook-h52wp"></div></div>
							<div class="orderbook-td-info d-flex flex-row-reverse">
								<div id="orderbook-h52wdt"></div></div>
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">5주 최저</div><div id="orderbook-l52wp"></div></div>
							<div class="orderbook-td-info d-flex flex-row-reverse">
								<div id="orderbook-l52wdt"></div></div>
						</td>
					</tr>
					<tr>
						<td class="as" id="as-3" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-3"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-3"></div><div class="col-5 text-center px-0" id="apPercent-3"></div></div></td>
					</tr>
					<tr>
						<td class="as" id="as-2" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-2"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-2"></div><div class="col-5 text-center px-0" id="apPercent-2"></div></div></td>
					</tr>
					<tr>
						<td class="as" id="as-1" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-1"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-1"></div><div class="col-5 text-center px-0" id="apPercent-1"></div></div></td>
						<td rowspan="2">
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">전일종가</div><div id="orderbook-pcp"></div></div>
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">당일고가</div><div id="orderbook-hp"></div></div>
							<div class="orderbook-td-info d-flex justify-content-between">
								<div class="text-secondary mb-1">전일저가</div><div id="orderbook-lp"></div></div>
						</td>
					</tr>
					<tr>
						<td class="as" id="as-0" width="33%"></td>
						<td class="orderbook-td-ap" id="orderbook-td-ap-0"><div class="row"><div class="orderbook-ap col-7 text-end px-0" id="ap-0"></div><div class="col-5 text-center px-0" id="apPercent-0"></div></div></td>

					</tr>
					<tr>
						<td class="px-0 py-0" rowspan="10" colspan="1">
						<div style="font-size: 11px;">

							<table class="table text-center" id="trade-table">
									<tr style="background-color: #0d6efd0d;">
										<td>체결가</td><td>체결량</td>
									</tr>
									<tr th:each="i : ${#numbers.sequence(0, 9)}">
										<td th:id="'trd-tp-'+${i}"></td><td th:id="'trd-tv-'+${i}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						</td>

						<td class="orderbook-td-bp" id="orderbook-td-bp-0"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-0"></div><div class="col-5 text-center px-0" id="bpPercent-0"></div></div></td>
						<td id="bs-0"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-1"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-1"></div><div class="col-5 text-center px-0" id="bpPercent-1"></div></div></td>
						<td id="bs-1"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-2"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-2"></div><div class="col-5 text-center px-0" id="bpPercent-2"></div></div></td>
						<td id="bs-2"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-3"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-3"></div><div class="col-5 text-center px-0" id="bpPercent-3"></div></div></td>
						<td id="bs-3"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-4"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-4"></div><div class="col-5 text-center px-0" id="bpPercent-4"></div></div></td>
						<td id="bs-4"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-5"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-5"></div><div class="col-5 text-center px-0" id="bpPercent-5"></div></div></td>
						<td id="bs-5"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-6"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-6"></div><div class="col-5 text-center px-0" id="bpPercent-6"></div></div></td>
						<td id="bs-6"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-7"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-7"></div><div class="col-5 text-center px-0" id="bpPercent-7"></div></div></td>
						<td id="bs-7"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-8"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-8"></div><div class="col-5 text-center px-0" id="bpPercent-8"></div></div></td>
						<td id="bs-8"></td>
					</tr>
					<tr>
						<td class="orderbook-td-bp" id="orderbook-td-bp-9"><div class="row"><div class="orderbook-bp col-7 text-end px-0" id="bp-9"></div><div class="col-5 text-center px-0" id="bpPercent-9"></div></div></td>

						<td id="bs-9"></td>
					</tr>
				</table>
			</div>
			<div class="order-card card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
			    		<li class="nav-item">
				        	<a class="nav-link active fw-bold" href="#" id="order-buy-a">매수</a>
				      	</li>
				      	<li class="nav-item">
				        	<a class="nav-link fw-bold" href="#" id="order-sell-a">매도</a>
				      	</li>
			    	</ul>
				</div>
				<div class="card-body" id="order-card-body">
					<form id="order-form" method="post">
						<div class="d-flex justify-content-between mb-5">
							<div>주문구분</div>
							<div>
								<input type="radio" class="form-check-input" id="trd_method-limits" name="trd_method" value="limits" checked="checked" onclick="clickLimits()">지정가
								<input type="radio" class="form-check-input" id="trd_method-market" name="trd_method" value="market" onclick="clickMarket()">시장가
							</div>
						</div>
						<div class="d-flex justify-content-between mb-3">
							<div id="order-avaliableKRW-th">주문가능</div><div><span class="mb-1" id="order-avaliableKRW"></span><span class="ms-1 mb-0" id="order-avaliableKRW-unit">KRW</span></div>
						</div>
						<div class="d-flex justify-content-between mb-3">
							<div id="order-unit_price-th">매수가격</div><input type="text" class="order-form form-control" id="order-unit_price" name="trd_unit_price" onkeyup="inUnitPrice(this)">
						</div>
						<div class="d-flex justify-content-between mb-3">
							<div id="order-trd_amt-th">주문수량</div>
							<div><input type="text" class="order-form form-control" id="order-trd_amt" name="trd_amt" value="0" onkeypress="return inTrdAmt(event)"></div>
						</div>
						<div class="d-flex justify-content-end mb-3">
							<div class="d-flex justify-content-between mt-1" id="order-div-amt-butn">
								<input type="button" class="order-form-amt-butn form-control" value="10%">
								<input type="button" class="order-form-amt-butn form-control" value="25%">
								<input type="button" class="order-form-amt-butn form-control" value="50%">
								<input type="button" class="order-form-amt-butn form-control" value="100%">
							</div>
						</div>
						<div class="d-flex justify-content-between mb-3">
							<div>주문총액(KRW)</div><input type="text" class="order-form form-control" id="order-trd_price" name="trd_price" value="0" readonly="readonly" onkeyup="inUnitPrice(this)">
						</div>
						<p class="text-end" style="font-size: 14px;">최소주문금액 : 5,000 KRW / 수수료 : 없음</p>
						<div th:if="${session.sessionID == null}" class="d-flex justify-content-center">
							<button type="button" class="order-form-reset form-control me-3" onclick="location.href='/joinForm'">회원가입</button>
							<button type="button" class="order-form-submit form-control bg-danger" onclick="location.href='/loginForm'">로그인</button>
						</div>
						<div th:if="${session.sessionID != null}" class="d-flex justify-content-center">
							<input type="reset" class="order-form-reset form-control me-3" value="초기화"><input type="button" class="order-form-submit form-control bg-danger" id="buySubmit" value="매 수">
						</div>
					</form>
				</div>
			</div>
			<div class="modal" tabindex="-1" id="warmModal">
			  <div class="modal-dialog modal-dialog-centered modal-sm">
			    <div class="modal-content">
			      <div class="modal-body">
			        <p class="modal-title fw-bold fs-5 mb-3">매매 알람</p>
			        <p class="mb-5" id="modal-msg"></p>
			        <div class="d-flex justify-content-end">
				        <button type="button" class="btn btn-primary fw-bold" data-bs-dismiss="modal">확인</button>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</section>
	<section class="section2">
	    <div class="card mt-5" id="coinlist-card">
	    	<div class="card-header">
	    		<input type="text" class="form-control" placeholder="코인명/심볼검색" style="font-size: 14px;" id="coinlist-search">
	    	</div>
	        <div class="card-body">
            	<div class="table-responsive">
                	<table class="table table-hover" id="coinlist-table">
	                    <thead>
	                        <tr>
	                            <th>코인명</th>
	                            <th>현재가</th>
	                            <th class="text-end">전일대비</th>
	                            <th class="text-end">거래대금</th>
	                        </tr>
	                    </thead>
	                    <tbody id="coinlist-tbody">
	                    	<tr th:each="list : ${coinInfoList}" th:with="code=${list.coincode}">
								<td class="pt-1">
									<a th:href="@{#}" class="coinlist-a text-dark" th:id="${code}" th:text="${list.coinname}" onclick="investApi(event, id)"></a>
		            	 			<p th:text="${code}" class="mb-0"></p>
		                         </td>
		                         <td class="pt-1" style="width: 98px;">
		                         	<div th:id="'KRW-'+${code}+'-price'" class="coinlist-price"></div>
		                         </td>
		                         <td class="pt-1">
		                         	<p class="text-end mb-0" th:id="'KRW-'+${code}+'-cPercent'"></p>
		                         	<p class="text-end mb-0" th:id="'KRW-'+${code}+'-cPrice'"></p>
		                         </td>
		                         <td class="pt-1">
		                         	<p class="text-end" th:id="'KRW-'+${code}+'-price24h'"></p>
		                         </td>
							</tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	</section>

</main>

<!-- footer -->
<footer th:replace="common/footer :: footer"></footer>



<!-- Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
